FJ flows FJ04.json
[
    {
        "id": "aceeee78e80836d5",
        "type": "tab",
        "label": "Finger Joint",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "584257042a2c642d",
        "type": "tab",
        "label": "Post to ERPNext",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "29957c5821978ac5",
        "type": "group",
        "z": "aceeee78e80836d5",
        "name": "Storing Job output in database",
        "style": {
            "label": true
        },
        "nodes": [
            "469ac8b91bc0f336",
            "e31d4cffac289a97",
            "c9e5c36edbf04498",
            "49a9887d5999b34e",
            "baae34847050227a",
            "3f5b642ea7566c4b",
            "a68d95076eee8c5b",
            "a9388e1745ac7bb3",
            "f6dfc05f3baeb6a3",
            "a618441b3f702c26",
            "76cbf138f972aea5",
            "656efaad2579d835",
            "4489a3e3a418fb7b",
            "e7acfd88005381af",
            "06f60de1a2bbabc1"
        ],
        "x": 94,
        "y": 319,
        "w": 692,
        "h": 302
    },
    {
        "id": "caf885cf173e5aa2",
        "type": "group",
        "z": "aceeee78e80836d5",
        "name": "Machine input signal",
        "style": {
            "label": true
        },
        "nodes": [
            "fbf576c898a81f0c",
            "519579d4cdc335ce",
            "7c846095fb5fa47d",
            "8176adbaf259486f",
            "33e27d6c16f4464b"
        ],
        "x": 94,
        "y": 199,
        "w": 712,
        "h": 82
    },
    {
        "id": "36fab4c511e97295",
        "type": "group",
        "z": "aceeee78e80836d5",
        "name": "Job (Setting, Reject)",
        "style": {
            "label": true
        },
        "nodes": [
            "6feeb8569c042312",
            "a80a7a416a2a60aa",
            "704c0e6b1168aa8a",
            "4e092a78342f984d",
            "00e0e7d1151be752",
            "942dc0b7f76e12b2",
            "3fa9d784b7428e82",
            "d7198898114ebeb4",
            "44c2151ae6e09da0",
            "dc98d9f805011293",
            "44154ed2596c1030",
            "2e74345e91a12953",
            "a0d96559f450a763",
            "56e784ed6e35bbe6",
            "5775b61fe2cc1737",
            "689f3782cea4c094"
        ],
        "x": 2074,
        "y": 419,
        "w": 532,
        "h": 262
    },
    {
        "id": "615a511dfe187b00",
        "type": "group",
        "z": "aceeee78e80836d5",
        "name": "Current Job Output Dashboard",
        "style": {
            "label": true
        },
        "nodes": [
            "9d1364beb87f4ff2",
            "3ef3fad18aa3e2f1",
            "068fb76925d4f127",
            "0f732395ff9aa7a5",
            "f16408ea80b8145b",
            "22e1ae0230361a23",
            "7b1be2ac06164caf",
            "18fd3c4476b9a3e4",
            "93ec168ee4340082",
            "a678dac2245b4f65"
        ],
        "x": 1714,
        "y": 119,
        "w": 292,
        "h": 322
    },
    {
        "id": "6c91023df8f37c02",
        "type": "group",
        "z": "aceeee78e80836d5",
        "name": "Today's Output Dashboard",
        "style": {
            "label": true
        },
        "nodes": [
            "46eb297fdc7bf415",
            "6ccaa6a819e11466",
            "3d9789d2eeac3971",
            "dc9d0cdd30b6fb89",
            "5d157ea06b6662b6",
            "4a70fea76969ca4a"
        ],
        "x": 1714,
        "y": 459,
        "w": 332,
        "h": 202
    },
    {
        "id": "14be195563a87f42",
        "type": "group",
        "z": "aceeee78e80836d5",
        "name": "Output Calculations",
        "style": {
            "label": true
        },
        "nodes": [
            "8233154ecb1a0a1b",
            "d31e2415b3ae0df7",
            "af7e6125f5b1b3dd",
            "1e796176c195c669",
            "5ade937a209de2b7",
            "6a46c28c20969119",
            "5d12ec3d2b9a8889",
            "cb26b2609dba1090",
            "6a8c2f1130445add",
            "881fe60f2a8433d9",
            "74f21a495d5b802b",
            "d26614cb89b83ba0"
        ],
        "x": 884,
        "y": 179,
        "w": 312,
        "h": 262
    },
    {
        "id": "8b78f2ee7ddf9572",
        "type": "group",
        "z": "aceeee78e80836d5",
        "name": "Job List Dashboard",
        "style": {
            "label": true
        },
        "nodes": [
            "01299038304d8723",
            "c2df6a5a2630eb4f",
            "ef25deb596917201",
            "616e9438fc4fa466",
            "caf6b88d2047f013",
            "1c750686b17d9f82",
            "458096700de0d3e9",
            "ecb63369937ff510",
            "25df665065b989d6",
            "f45fc46b6952e023",
            "a2a050fbe4ec49de",
            "52d7b6bf29241329",
            "df5754585f00999d",
            "d8ca346d473f895b",
            "ccc81ecefc35bd4c",
            "3824977a8b68a705",
            "6b47a540f7f21a6d",
            "e601b4f2064ab0db",
            "435d8554c0c94ab5",
            "7a9c4d820473962b",
            "75f0e08c1847d4a3",
            "ff3156f85bd3db79",
            "e1100c8d126fef40",
            "44697291dbe65611",
            "15eed0a124dc5a20",
            "baa7898548e7ccd8",
            "c5f4553cf4bf9707",
            "9b4dc70713edc975",
            "38a04fda0b22b917",
            "a3c5be9c613304a8",
            "3735731d105c3b0a",
            "71b77e17724fad13",
            "dd1f0ea2ef26db84",
            "8ba0271476786617",
            "bb3a649f785ba507",
            "bea65ccc72fb7226",
            "4efd290fbccf4239",
            "373b8496f1d06d7b",
            "5d2d9854f7cb153e",
            "7d55d95027649326"
        ],
        "x": 1714,
        "y": 719,
        "w": 922,
        "h": 702
    },
    {
        "id": "f20b64cccbfa41df",
        "type": "group",
        "z": "aceeee78e80836d5",
        "name": "Operator Dashboard",
        "style": {
            "label": true
        },
        "nodes": [
            "655d67b65d274bc3",
            "b219930eadd564c3",
            "237b414f6bd112ce",
            "41dd897f3d6a30ae",
            "f57616afcf0d52b4",
            "a70c9aa58c7da167",
            "88be16095a8822bd",
            "314915691f09b38e",
            "db63ebc8b60f48a5",
            "70a79c8aa1ebfaac",
            "11e9bfadae0e3b4c",
            "42408a70624bd21b",
            "8c0cb23f0b22bb1f",
            "b9821bf52d41f806",
            "3a1d84056a0447b0",
            "e4bd9ae959af562a",
            "59abf8e209fa1a53"
        ],
        "x": 1424,
        "y": 539,
        "w": 242,
        "h": 562
    },
    {
        "id": "60fcab15ede63946",
        "type": "group",
        "z": "aceeee78e80836d5",
        "name": "Logo & Time Dashboard",
        "style": {
            "label": true
        },
        "nodes": [
            "bab66bb4803b0e80",
            "35aaa03fb351b700",
            "928af87d09da8872",
            "3f30f308a1b02d6f",
            "2931212f5d85e8b2",
            "0f038ffafa11298e"
        ],
        "x": 1254,
        "y": 99,
        "w": 432,
        "h": 202
    },
    {
        "id": "a4164891d12ef28d",
        "type": "group",
        "z": "aceeee78e80836d5",
        "name": "OEE Dashboard",
        "style": {
            "label": true
        },
        "nodes": [
            "b5477a7e905776e5",
            "6903c2a4b5180801",
            "0e77eebfe575c5db",
            "3a110d1e65ecde77",
            "43cffa8200b6cc04",
            "d2da8d2c5799eb63",
            "dc66490acabb6bb2",
            "8076aab7b5f58732",
            "b2d4f29b77453803",
            "5c81cc7ecfe8b897"
        ],
        "x": 2074,
        "y": 119,
        "w": 592,
        "h": 262
    },
    {
        "id": "b51dc099cee4fcb4",
        "type": "group",
        "z": "aceeee78e80836d5",
        "name": "Send OEE to database",
        "style": {
            "label": true
        },
        "nodes": [
            "395d8f032aa99366",
            "21596b72f6a9eb9c",
            "26a2b7711df1e686",
            "10a9f70eec9d8e79",
            "e650c7581da77728"
        ],
        "x": 1274,
        "y": 319,
        "w": 412,
        "h": 202
    },
    {
        "id": "3576b6b4d3716c04",
        "type": "group",
        "z": "aceeee78e80836d5",
        "name": "RFID Scanner",
        "style": {
            "label": true
        },
        "nodes": [
            "c70f49f7f260fef6",
            "67da5b10279bce66",
            "90474af636375568",
            "73a5f7a408e6f255",
            "ae31a9cf88c7e7dd",
            "e794636d6e1a4b6c",
            "fca58a40374db349",
            "5898a0d1a3e33e45",
            "024aeef0a7580ace",
            "223239a71851e09b",
            "9f843372cdadd7c9",
            "699e095f19e3644b",
            "659489456a5f8c02",
            "9478998b41798c4c",
            "832480177c8941ba",
            "12cac82956ec3619",
            "75dad229c493b0d8",
            "b4ce33bb560f790d",
            "ce8736ad37637a95",
            "a20188aa3e891dd6",
            "fb358400ed7d379f"
        ],
        "x": 94,
        "y": 659,
        "w": 732,
        "h": 422
    },
    {
        "id": "bd503dfba9ae6c25",
        "type": "group",
        "z": "aceeee78e80836d5",
        "name": "Get Data if Pi Restarted",
        "style": {
            "label": true
        },
        "nodes": [
            "2feacdb677da967c",
            "14e65017be05bd2e",
            "a2989c90695fa903",
            "69c4ae512af70a36",
            "1dcbd3a4acf81e77",
            "95ebc5fc93736731",
            "d6efe506bcdafb10",
            "51e5f0646bf09d8e",
            "340438001dc9d408",
            "ddcf429ec670e2cf",
            "2ac462c83274fe35",
            "a92fdb2e5d430439",
            "b324e66159c24df9",
            "6e20993da28e6637",
            "f54117bc11666da0",
            "54819681270fa63e",
            "902925f2affe275a",
            "d3924c9ed419df54",
            "874bbf3193c81ed3",
            "d6abe063d9c97372",
            "108878d5f02b3e5b",
            "2278e7478fd39746",
            "6b65dff3b4ec9539"
        ],
        "x": 94,
        "y": 1119,
        "w": 1262,
        "h": 289.5
    },
    {
        "id": "cd94eeda33fb4d24",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "0b727acab251d1ba",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.52",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "62014a2fb5458f70",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b6645e76de0b64f5",
        "type": "MySQLdatabase",
        "name": "127.0.0.1",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "machine_output",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "cea75cbd782e4c3e",
        "type": "ui_tab",
        "name": "FJ04",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5e857cd369e9dbd2",
        "type": "ui_group",
        "name": "FJ04",
        "tab": "cea75cbd782e4c3e",
        "order": 1,
        "disp": false,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "452126cf568bf1d7",
        "type": "ui_group",
        "name": "OEE",
        "tab": "cea75cbd782e4c3e",
        "order": 3,
        "disp": false,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "03e40e6c51e48453",
        "type": "ui_group",
        "name": "Job Details",
        "tab": "cea75cbd782e4c3e",
        "order": 2,
        "disp": false,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5a7d665c26ca2a46",
        "type": "MySQLdatabase",
        "name": "ERPNext",
        "host": "192.168.0.17",
        "port": "3306",
        "db": "_b533f5fdd65aaf8c",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "79ac2fd847cfcb51",
        "type": "HIDConfig",
        "vid": "6790",
        "pid": "56577",
        "name": "RFID"
    },
    {
        "id": "01d27a85036bdfb0",
        "type": "MySQLdatabase",
        "name": "phpmyadmin",
        "host": "192.168.0.13",
        "port": "3306",
        "db": "fm_rawang",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "df63b6ce18c93127",
        "type": "ui_spacer",
        "z": "aceeee78e80836d5",
        "name": "spacer",
        "group": "5e857cd369e9dbd2",
        "order": 2,
        "width": 5,
        "height": 1
    },
    {
        "id": "b2952876f33c5d4d",
        "type": "ui_spacer",
        "z": "aceeee78e80836d5",
        "name": "spacer",
        "group": "5e857cd369e9dbd2",
        "order": 5,
        "width": 10,
        "height": 1
    },
    {
        "id": "40d42d917078dfce",
        "type": "ui_spacer",
        "z": "aceeee78e80836d5",
        "name": "spacer",
        "group": "5e857cd369e9dbd2",
        "order": 15,
        "width": 10,
        "height": 1
    },
    {
        "id": "8d75b1a849f451cd",
        "type": "ui_spacer",
        "z": "aceeee78e80836d5",
        "name": "spacer",
        "group": "5e857cd369e9dbd2",
        "order": 17,
        "width": 6,
        "height": 1
    },
    {
        "id": "fdb090cf80bfb207",
        "type": "ui_spacer",
        "z": "aceeee78e80836d5",
        "name": "spacer",
        "group": "5e857cd369e9dbd2",
        "order": 20,
        "width": 6,
        "height": 1
    },
    {
        "id": "0804d915a1f8e1d9",
        "type": "ui_spacer",
        "z": "aceeee78e80836d5",
        "name": "spacer",
        "group": "5e857cd369e9dbd2",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "e53648f8dab2f76f",
        "type": "ui_spacer",
        "z": "aceeee78e80836d5",
        "name": "spacer",
        "group": "5e857cd369e9dbd2",
        "order": 26,
        "width": 1,
        "height": 1
    },
    {
        "id": "a5f07694a5368fc7",
        "type": "ui_spacer",
        "z": "aceeee78e80836d5",
        "name": "spacer",
        "group": "03e40e6c51e48453",
        "order": 3,
        "width": 8,
        "height": 1
    },
    {
        "id": "08e50718825fda8d",
        "type": "ui_spacer",
        "z": "aceeee78e80836d5",
        "name": "spacer",
        "group": "03e40e6c51e48453",
        "order": 7,
        "width": 8,
        "height": 1
    },
    {
        "id": "49075ce0f9262730",
        "type": "ui_spacer",
        "z": "aceeee78e80836d5",
        "name": "spacer",
        "group": "03e40e6c51e48453",
        "order": 8,
        "width": 8,
        "height": 1
    },
    {
        "id": "4a5c7cb90b56b885",
        "type": "ui_spacer",
        "z": "aceeee78e80836d5",
        "name": "spacer",
        "group": "03e40e6c51e48453",
        "order": 12,
        "width": 8,
        "height": 1
    },
    {
        "id": "4b8aed2b68836098",
        "type": "ui_spacer",
        "z": "aceeee78e80836d5",
        "name": "spacer",
        "group": "452126cf568bf1d7",
        "order": 4,
        "width": 9,
        "height": 1
    },
    {
        "id": "a3abd127c289bbef",
        "type": "ui_spacer",
        "z": "aceeee78e80836d5",
        "name": "spacer",
        "group": "452126cf568bf1d7",
        "order": 5,
        "width": 9,
        "height": 1
    },
    {
        "id": "fbf576c898a81f0c",
        "type": "switch",
        "z": "aceeee78e80836d5",
        "g": "caf885cf173e5aa2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 240,
        "wires": [
            [
                "8176adbaf259486f"
            ],
            []
        ]
    },
    {
        "id": "469ac8b91bc0f336",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "29957c5821978ac5",
        "name": "Job started",
        "func": "var tstamp = Date.now();\nvar machine = 'FJ04';\nvar currentTime = new Date().toLocaleString(\"sv-SE\");\nvar job = flow.get('Job');\nvar todayFeet = flow.get('Todays_Feet');\nvar todayReject = flow.get('Todays_Reject');\n\nmsg.payload =\n{\n    col1: currentTime, //DateTime\n    col2: machine, //Machine\n    col3: job, //Job\n    col4: 'Start', //Status\n    col5: 0, //Duration\n    col6: 0, //CurrentOutput\n    col7: 0, //CurrentReject\n    col8: todayFeet, //TodayOutput\n    col9: todayReject, //TodayReject\n}\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 360,
        "wires": [
            [
                "e31d4cffac289a97"
            ]
        ]
    },
    {
        "id": "e31d4cffac289a97",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "29957c5821978ac5",
        "name": "Write to fj04_data",
        "func": "var table_name = 'fj04_data';\n\nvar col1 = 'DateTime';\nvar col2 = 'Machine';\nvar col3 = 'Job';\nvar col4 = 'Status';\nvar col5 = 'Duration';\nvar col6 = 'CurrentOutput';\nvar col7 = 'CurrentReject';\nvar col8 = 'TodayOutput';\nvar col9 = 'TodayReject';\n\n\nmsg.topic = \"INSERT INTO \" + table_name + \"(\"\n    + col1 + \",\" + col2 + \",\" + col3 + \",\" + col4 + \",\" + col5 + \",\" + col6 + \",\" + col7 + \",\" + col8 + \",\" + col9 + \")\"\n    + \"VALUES('\"\n    + msg.payload.col1 + \"','\"\n    + msg.payload.col2 + \"','\"\n    + msg.payload.col3 + \"','\"\n    + msg.payload.col4 + \"','\"\n    + msg.payload.col5 + \"','\"\n    + msg.payload.col6 + \"','\"\n    + msg.payload.col7 + \"','\"\n    + msg.payload.col8 + \"','\"\n    + msg.payload.col9 + \"')\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 400,
        "wires": [
            [
                "c9e5c36edbf04498"
            ]
        ]
    },
    {
        "id": "c9e5c36edbf04498",
        "type": "mysql",
        "z": "aceeee78e80836d5",
        "g": "29957c5821978ac5",
        "mydb": "b6645e76de0b64f5",
        "name": "local storage",
        "x": 690,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "0f75094f89696c9c",
        "type": "aedes broker",
        "z": "aceeee78e80836d5",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 250,
        "y": 80,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "bab66bb4803b0e80",
        "type": "ui_media",
        "z": "aceeee78e80836d5",
        "g": "60fcab15ede63946",
        "group": "5e857cd369e9dbd2",
        "name": "FM Logo",
        "width": 3,
        "height": 2,
        "order": 1,
        "category": "Local",
        "file": "FinesseMoulding-jpeg - new.jpg",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 1580,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "35aaa03fb351b700",
        "type": "ui_text",
        "z": "aceeee78e80836d5",
        "g": "60fcab15ede63946",
        "group": "5e857cd369e9dbd2",
        "order": 4,
        "width": 7,
        "height": 1,
        "name": "Date Time",
        "label": "",
        "format": "<font size = 6> {{msg.payload}} </font>",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1590,
        "y": 260,
        "wires": []
    },
    {
        "id": "928af87d09da8872",
        "type": "inject",
        "z": "aceeee78e80836d5",
        "g": "60fcab15ede63946",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1370,
        "y": 140,
        "wires": [
            [
                "3f30f308a1b02d6f"
            ]
        ]
    },
    {
        "id": "3f30f308a1b02d6f",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "60fcab15ede63946",
        "name": "Date Time",
        "func": "var CurrentTime = new Date().toLocaleString(\"sv-SE\");\nmsg.payload = CurrentTime;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 200,
        "wires": [
            [
                "2931212f5d85e8b2"
            ]
        ]
    },
    {
        "id": "2931212f5d85e8b2",
        "type": "rbe",
        "z": "aceeee78e80836d5",
        "g": "60fcab15ede63946",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1430,
        "y": 260,
        "wires": [
            [
                "35aaa03fb351b700"
            ]
        ]
    },
    {
        "id": "01299038304d8723",
        "type": "ui_text",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "group": "5e857cd369e9dbd2",
        "order": 16,
        "width": 4,
        "height": 1,
        "name": "Job List",
        "label": "<font size = 5> Job List </font>",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1800,
        "y": 760,
        "wires": []
    },
    {
        "id": "8233154ecb1a0a1b",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "14be195563a87f42",
        "name": "Count +1",
        "func": "let Today_count = flow.get('Todays_Count') || 0;\n\nToday_count = Today_count + 1;\n\nflow.set('Todays_Count', Today_count);\n\nmsg.payload = {\n    Today_count : Today_count\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 340,
        "wires": [
            [
                "af7e6125f5b1b3dd"
            ]
        ]
    },
    {
        "id": "519579d4cdc335ce",
        "type": "link out",
        "z": "aceeee78e80836d5",
        "g": "caf885cf173e5aa2",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "d31e2415b3ae0df7",
            "5ade937a209de2b7",
            "cb26b2609dba1090",
            "881fe60f2a8433d9"
        ],
        "x": 765,
        "y": 240,
        "wires": []
    },
    {
        "id": "d31e2415b3ae0df7",
        "type": "link in",
        "z": "aceeee78e80836d5",
        "g": "14be195563a87f42",
        "name": "link in 1",
        "links": [
            "519579d4cdc335ce"
        ],
        "x": 925,
        "y": 340,
        "wires": [
            [
                "8233154ecb1a0a1b"
            ]
        ]
    },
    {
        "id": "9d1364beb87f4ff2",
        "type": "ui_text",
        "z": "aceeee78e80836d5",
        "g": "615a511dfe187b00",
        "group": "03e40e6c51e48453",
        "order": 4,
        "width": 8,
        "height": 1,
        "name": "Job Count",
        "label": "<font size = 5>  Job Count </font>",
        "format": "<font size = 5>  {{msg.payload.Job_count}} </font>",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1870,
        "y": 280,
        "wires": []
    },
    {
        "id": "3ef3fad18aa3e2f1",
        "type": "ui_text",
        "z": "aceeee78e80836d5",
        "g": "615a511dfe187b00",
        "group": "03e40e6c51e48453",
        "order": 5,
        "width": 8,
        "height": 1,
        "name": "Job Feet",
        "label": "<font size = 5>  Job Feet </font>",
        "format": "<font size = 5>  {{msg.payload.Job_feet}} </font>",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1860,
        "y": 340,
        "wires": []
    },
    {
        "id": "068fb76925d4f127",
        "type": "ui_text",
        "z": "aceeee78e80836d5",
        "g": "615a511dfe187b00",
        "group": "03e40e6c51e48453",
        "order": 6,
        "width": 8,
        "height": 1,
        "name": "Job Rejected Count",
        "label": "<font size = 5>  Job Rejected Count </font>",
        "format": "<font size = 5>  {{msg.payload.Job_reject}} </font>",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1890,
        "y": 400,
        "wires": []
    },
    {
        "id": "46eb297fdc7bf415",
        "type": "ui_text",
        "z": "aceeee78e80836d5",
        "g": "6c91023df8f37c02",
        "group": "03e40e6c51e48453",
        "order": 9,
        "width": 8,
        "height": 1,
        "name": "Today's Count",
        "label": "<font size = 5> Today's Count </font>",
        "format": "<font size = 5>  {{msg.payload.Today_count}} </font>",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1880,
        "y": 500,
        "wires": []
    },
    {
        "id": "6ccaa6a819e11466",
        "type": "ui_text",
        "z": "aceeee78e80836d5",
        "g": "6c91023df8f37c02",
        "group": "03e40e6c51e48453",
        "order": 10,
        "width": 8,
        "height": 1,
        "name": "Today's Feet",
        "label": "<font size = 5> Today's Feet </font>",
        "format": "<font size = 5>  {{msg.payload.Today_feet}} </font>",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1870,
        "y": 560,
        "wires": []
    },
    {
        "id": "3d9789d2eeac3971",
        "type": "ui_text",
        "z": "aceeee78e80836d5",
        "g": "6c91023df8f37c02",
        "group": "03e40e6c51e48453",
        "order": 11,
        "width": 8,
        "height": 1,
        "name": "Today's Rejected Count",
        "label": "<font size = 5> Today's Rejected Count </font>",
        "format": "<font size = 5>  {{msg.payload.Today_reject}} </font>",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1910,
        "y": 620,
        "wires": []
    },
    {
        "id": "0f732395ff9aa7a5",
        "type": "ui_text",
        "z": "aceeee78e80836d5",
        "g": "615a511dfe187b00",
        "group": "03e40e6c51e48453",
        "order": 1,
        "width": 8,
        "height": 1,
        "name": "Current Job",
        "label": "<font size = 5> Current Job </font>",
        "format": "<font size = 5> {{msg.payload}} </font>",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1870,
        "y": 160,
        "wires": []
    },
    {
        "id": "6feeb8569c042312",
        "type": "ui_button",
        "z": "aceeee78e80836d5",
        "g": "36fab4c511e97295",
        "name": "Setting -1",
        "group": "03e40e6c51e48453",
        "order": 13,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Setting -1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 2160,
        "y": 460,
        "wires": [
            [
                "689f3782cea4c094"
            ]
        ]
    },
    {
        "id": "a80a7a416a2a60aa",
        "type": "ui_button",
        "z": "aceeee78e80836d5",
        "g": "36fab4c511e97295",
        "name": "Setting +1",
        "group": "03e40e6c51e48453",
        "order": 14,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Setting +1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 2160,
        "y": 520,
        "wires": [
            [
                "5775b61fe2cc1737"
            ]
        ]
    },
    {
        "id": "704c0e6b1168aa8a",
        "type": "ui_button",
        "z": "aceeee78e80836d5",
        "g": "36fab4c511e97295",
        "name": "Reject -1",
        "group": "03e40e6c51e48453",
        "order": 15,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Reject -1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 2160,
        "y": 580,
        "wires": [
            [
                "56e784ed6e35bbe6"
            ]
        ]
    },
    {
        "id": "4e092a78342f984d",
        "type": "ui_button",
        "z": "aceeee78e80836d5",
        "g": "36fab4c511e97295",
        "name": "Reject +1",
        "group": "03e40e6c51e48453",
        "order": 16,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Reject +1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 2160,
        "y": 640,
        "wires": [
            [
                "a0d96559f450a763"
            ]
        ]
    },
    {
        "id": "c2df6a5a2630eb4f",
        "type": "ui_dropdown",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "name": "Select Job",
        "label": "",
        "tooltip": "",
        "place": "Select job",
        "group": "5e857cd369e9dbd2",
        "order": 18,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "payload",
        "topicType": "msg",
        "className": "",
        "x": 1890,
        "y": 880,
        "wires": [
            [
                "8ba0271476786617"
            ]
        ]
    },
    {
        "id": "dc9d0cdd30b6fb89",
        "type": "link in",
        "z": "aceeee78e80836d5",
        "g": "6c91023df8f37c02",
        "name": "link in 2",
        "links": [
            "af7e6125f5b1b3dd",
            "feb459137d5a429d",
            "942dc0b7f76e12b2",
            "d7198898114ebeb4",
            "902925f2affe275a"
        ],
        "x": 1755,
        "y": 500,
        "wires": [
            [
                "46eb297fdc7bf415"
            ]
        ]
    },
    {
        "id": "af7e6125f5b1b3dd",
        "type": "link out",
        "z": "aceeee78e80836d5",
        "g": "14be195563a87f42",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "dc9d0cdd30b6fb89"
        ],
        "x": 1155,
        "y": 340,
        "wires": []
    },
    {
        "id": "1e796176c195c669",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "14be195563a87f42",
        "name": "Feet +9.5",
        "func": "let Today_feet = flow.get('Todays_Feet') || 0;\n\nToday_feet = Today_feet + 9.5;\n\nflow.set('Todays_Feet', Today_feet);\n\nmsg.payload = {\n    Today_feet : Today_feet\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 400,
        "wires": [
            [
                "6a46c28c20969119"
            ]
        ]
    },
    {
        "id": "5ade937a209de2b7",
        "type": "link in",
        "z": "aceeee78e80836d5",
        "g": "14be195563a87f42",
        "name": "link in 3",
        "links": [
            "519579d4cdc335ce"
        ],
        "x": 925,
        "y": 400,
        "wires": [
            [
                "1e796176c195c669"
            ]
        ]
    },
    {
        "id": "6a46c28c20969119",
        "type": "link out",
        "z": "aceeee78e80836d5",
        "g": "14be195563a87f42",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "5d157ea06b6662b6",
            "baae34847050227a"
        ],
        "x": 1155,
        "y": 400,
        "wires": []
    },
    {
        "id": "5d157ea06b6662b6",
        "type": "link in",
        "z": "aceeee78e80836d5",
        "g": "6c91023df8f37c02",
        "name": "link in 4",
        "links": [
            "6a46c28c20969119",
            "feb459137d5a429d",
            "942dc0b7f76e12b2",
            "d7198898114ebeb4",
            "902925f2affe275a"
        ],
        "x": 1755,
        "y": 560,
        "wires": [
            [
                "6ccaa6a819e11466"
            ]
        ]
    },
    {
        "id": "757dc938a7d432e7",
        "type": "inject",
        "z": "aceeee78e80836d5",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "45 07 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "1fe835d07542c9e7",
                "2122affb36fbb267"
            ]
        ]
    },
    {
        "id": "1fe835d07542c9e7",
        "type": "function",
        "z": "aceeee78e80836d5",
        "name": "Clear context everyday at 7:45AM",
        "func": "flow.set('Todays_Count', 0);\nflow.set('Todays_Feet', 0);\nflow.set('Todays_Reject', 0);\nflow.set('Job_Start', false);\nflow.set('Performance', 0);\nflow.set('Quality', 100);\nflow.set('OEE', 0);\n\n\nmsg.payload = {\n    Today_count : 0,\n    Today_feet : 0,\n    Today_reject : 0,\n    Job_feet : 0,\n    Job_count : 0,\n    Job_reject : 0\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 160,
        "wires": [
            [
                "feb459137d5a429d"
            ]
        ]
    },
    {
        "id": "feb459137d5a429d",
        "type": "link out",
        "z": "aceeee78e80836d5",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "dc9d0cdd30b6fb89",
            "5d157ea06b6662b6",
            "4a70fea76969ca4a",
            "e650c7581da77728",
            "5b36b0856f9752a6"
        ],
        "x": 695,
        "y": 160,
        "wires": []
    },
    {
        "id": "00e0e7d1151be752",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "36fab4c511e97295",
        "name": "Setting -1",
        "func": "let Today_count = flow.get('Todays_Count') || 0;\nlet Today_feet = flow.get('Todays_Feet') || 0;\nlet Job_count = flow.get('Job_Count') || 0;\nlet Job_feet = flow.get('Job_Feet') || 0;\n\nToday_count = Today_count - 1;\nToday_feet = Today_feet - 9.5;\nJob_count = Job_count - 1;\nJob_feet = Job_feet - 9.5;\n\nflow.set('Todays_Count', Today_count);\nflow.set('Todays_Feet', Today_feet);\nflow.set('Job_Count', Job_count);\nflow.set('Job_Feet', Job_feet);\n\nmsg.payload = {\n    Today_count : Today_count,\n    Today_feet : Today_feet,\n    Job_count : Job_count,\n    Job_feet : Job_feet\n}\n\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2460,
        "y": 460,
        "wires": [
            [
                "942dc0b7f76e12b2"
            ]
        ]
    },
    {
        "id": "942dc0b7f76e12b2",
        "type": "link out",
        "z": "aceeee78e80836d5",
        "g": "36fab4c511e97295",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "dc9d0cdd30b6fb89",
            "5d157ea06b6662b6",
            "22e1ae0230361a23",
            "7b1be2ac06164caf",
            "baae34847050227a"
        ],
        "x": 2565,
        "y": 460,
        "wires": []
    },
    {
        "id": "3fa9d784b7428e82",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "36fab4c511e97295",
        "name": "Setting +1",
        "func": "let Today_count = flow.get('Todays_Count') || 0;\nlet Today_feet = flow.get('Todays_Feet') || 0;\nlet Job_count = flow.get('Job_Count') || 0;\nlet Job_feet = flow.get('Job_Feet') || 0;\n\nToday_count = Today_count + 1;\nToday_feet = Today_feet + 9.5;\nJob_count = Job_count + 1;\nJob_feet = Job_feet + 9.5;\n\nflow.set('Todays_Count', Today_count);\nflow.set('Todays_Feet', Today_feet);\nflow.set('Job_Count', Job_count);\nflow.set('Job_Feet', Job_feet);\n\nmsg.payload = {\n    Today_count : Today_count,\n    Today_feet : Today_feet,\n    Job_count : Job_count,\n    Job_feet : Job_feet\n}\n\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2460,
        "y": 520,
        "wires": [
            [
                "d7198898114ebeb4"
            ]
        ]
    },
    {
        "id": "d7198898114ebeb4",
        "type": "link out",
        "z": "aceeee78e80836d5",
        "g": "36fab4c511e97295",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "dc9d0cdd30b6fb89",
            "5d157ea06b6662b6",
            "22e1ae0230361a23",
            "7b1be2ac06164caf",
            "baae34847050227a"
        ],
        "x": 2565,
        "y": 520,
        "wires": []
    },
    {
        "id": "44c2151ae6e09da0",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "36fab4c511e97295",
        "name": "Reject -1",
        "func": "let Today_reject = flow.get('Todays_Reject') || 0;\nlet Job_reject = flow.get('Job_Reject') || 0;\n\nToday_reject = Today_reject - 1;\nJob_reject = Job_reject - 1;\n\nflow.set('Todays_Reject', Today_reject);\nflow.set('Job_Reject', Job_reject);\n\nmsg.payload = {\n    Today_reject : Today_reject,\n    Job_reject : Job_reject\n}\n\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2460,
        "y": 580,
        "wires": [
            [
                "dc98d9f805011293"
            ]
        ]
    },
    {
        "id": "dc98d9f805011293",
        "type": "link out",
        "z": "aceeee78e80836d5",
        "g": "36fab4c511e97295",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "4a70fea76969ca4a",
            "18fd3c4476b9a3e4",
            "baae34847050227a"
        ],
        "x": 2565,
        "y": 580,
        "wires": []
    },
    {
        "id": "4a70fea76969ca4a",
        "type": "link in",
        "z": "aceeee78e80836d5",
        "g": "6c91023df8f37c02",
        "name": "link in 5",
        "links": [
            "dc98d9f805011293",
            "2e74345e91a12953",
            "feb459137d5a429d",
            "902925f2affe275a"
        ],
        "x": 1755,
        "y": 620,
        "wires": [
            [
                "3d9789d2eeac3971"
            ]
        ]
    },
    {
        "id": "44154ed2596c1030",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "36fab4c511e97295",
        "name": "Reject +1",
        "func": "let Today_reject = flow.get('Todays_Reject') || 0;\nlet Job_reject = flow.get('Job_Reject') || 0;\n\nToday_reject = Today_reject + 1;\nJob_reject = Job_reject + 1;\n\nflow.set('Todays_Reject', Today_reject);\nflow.set('Job_Reject', Job_reject);\n\nmsg.payload = {\n    Today_reject : Today_reject,\n    Job_reject : Job_reject\n}\n\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2460,
        "y": 640,
        "wires": [
            [
                "2e74345e91a12953"
            ]
        ]
    },
    {
        "id": "2e74345e91a12953",
        "type": "link out",
        "z": "aceeee78e80836d5",
        "g": "36fab4c511e97295",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "4a70fea76969ca4a",
            "18fd3c4476b9a3e4",
            "baae34847050227a"
        ],
        "x": 2565,
        "y": 640,
        "wires": []
    },
    {
        "id": "ef25deb596917201",
        "type": "inject",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1830,
        "y": 820,
        "wires": [
            [
                "616e9438fc4fa466"
            ]
        ]
    },
    {
        "id": "616e9438fc4fa466",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "name": "Get Job",
        "func": "msg.topic = \"SELECT name FROM `tabFJ Kanban` WHERE status = 'Pending'\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1980,
        "y": 820,
        "wires": [
            [
                "caf6b88d2047f013"
            ]
        ]
    },
    {
        "id": "caf6b88d2047f013",
        "type": "mysql",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "mydb": "5a7d665c26ca2a46",
        "name": "",
        "x": 2140,
        "y": 820,
        "wires": [
            [
                "1c750686b17d9f82"
            ]
        ]
    },
    {
        "id": "1c750686b17d9f82",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "name": "Job List",
        "func": "let fj_kanban = msg.payload;\n\nif (Array.isArray(fj_kanban) && fj_kanban.length > 0) {\n    msg.options = fj_kanban.map(item => item.name);\n} else {\n    msg.options = []; // or any default value you want to set in case there's no result\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2300,
        "y": 820,
        "wires": [
            [
                "f45fc46b6952e023"
            ]
        ]
    },
    {
        "id": "458096700de0d3e9",
        "type": "ui_button",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "name": "Start",
        "group": "5e857cd369e9dbd2",
        "order": 23,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "START",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Job",
        "payloadType": "flow",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 1060,
        "wires": [
            [
                "3824977a8b68a705",
                "15eed0a124dc5a20"
            ]
        ]
    },
    {
        "id": "ecb63369937ff510",
        "type": "ui_button",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "name": "Stop",
        "group": "5e857cd369e9dbd2",
        "order": 24,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "STOP",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 1180,
        "wires": [
            [
                "7a9c4d820473962b"
            ]
        ]
    },
    {
        "id": "25df665065b989d6",
        "type": "ui_button",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "name": "Pause",
        "group": "5e857cd369e9dbd2",
        "order": 25,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "PAUSE",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Job Paused",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1970,
        "y": 1320,
        "wires": [
            [
                "e1100c8d126fef40"
            ]
        ]
    },
    {
        "id": "0f038ffafa11298e",
        "type": "ui_text",
        "z": "aceeee78e80836d5",
        "g": "60fcab15ede63946",
        "group": "5e857cd369e9dbd2",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "FJ04",
        "label": "<font size = 6> FJ04 </font>",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1570,
        "y": 200,
        "wires": []
    },
    {
        "id": "f45fc46b6952e023",
        "type": "link out",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "name": "link out 9",
        "mode": "link",
        "links": [
            "a2a050fbe4ec49de",
            "c5c30d8df1c14666"
        ],
        "x": 2425,
        "y": 820,
        "wires": []
    },
    {
        "id": "a2a050fbe4ec49de",
        "type": "link in",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "name": "link in 6",
        "links": [
            "f45fc46b6952e023"
        ],
        "x": 1765,
        "y": 880,
        "wires": [
            [
                "c2df6a5a2630eb4f"
            ]
        ]
    },
    {
        "id": "655d67b65d274bc3",
        "type": "ui_text",
        "z": "aceeee78e80836d5",
        "g": "f20b64cccbfa41df",
        "group": "5e857cd369e9dbd2",
        "order": 6,
        "width": 10,
        "height": 1,
        "name": "Operators",
        "label": "<font size = 5> Operators </font>",
        "format": "",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1580,
        "y": 580,
        "wires": []
    },
    {
        "id": "b219930eadd564c3",
        "type": "ui_text",
        "z": "aceeee78e80836d5",
        "g": "f20b64cccbfa41df",
        "group": "5e857cd369e9dbd2",
        "order": 8,
        "width": 5,
        "height": 1,
        "name": "Operators",
        "label": "",
        "format": "{{msg.payload[1].Operator}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1580,
        "y": 700,
        "wires": []
    },
    {
        "id": "237b414f6bd112ce",
        "type": "ui_text",
        "z": "aceeee78e80836d5",
        "g": "f20b64cccbfa41df",
        "group": "5e857cd369e9dbd2",
        "order": 10,
        "width": 5,
        "height": 1,
        "name": "Operators",
        "label": "",
        "format": "{{msg.payload[2].Operator}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1580,
        "y": 760,
        "wires": []
    },
    {
        "id": "41dd897f3d6a30ae",
        "type": "ui_text",
        "z": "aceeee78e80836d5",
        "g": "f20b64cccbfa41df",
        "group": "5e857cd369e9dbd2",
        "order": 7,
        "width": 5,
        "height": 1,
        "name": "Operators",
        "label": "",
        "format": "{{msg.payload[0].Operator}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1580,
        "y": 640,
        "wires": []
    },
    {
        "id": "f57616afcf0d52b4",
        "type": "ui_text",
        "z": "aceeee78e80836d5",
        "g": "f20b64cccbfa41df",
        "group": "5e857cd369e9dbd2",
        "order": 9,
        "width": 5,
        "height": 1,
        "name": "Operators",
        "label": "",
        "format": "{{msg.payload[3].Operator}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1580,
        "y": 820,
        "wires": []
    },
    {
        "id": "a70c9aa58c7da167",
        "type": "ui_text",
        "z": "aceeee78e80836d5",
        "g": "f20b64cccbfa41df",
        "group": "5e857cd369e9dbd2",
        "order": 11,
        "width": 5,
        "height": 1,
        "name": "Operators",
        "label": "",
        "format": "{{msg.payload[4].Operator}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1580,
        "y": 880,
        "wires": []
    },
    {
        "id": "88be16095a8822bd",
        "type": "ui_text",
        "z": "aceeee78e80836d5",
        "g": "f20b64cccbfa41df",
        "group": "5e857cd369e9dbd2",
        "order": 12,
        "width": 5,
        "height": 1,
        "name": "Operators",
        "label": "",
        "format": "{{msg.payload[5].Operator}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1580,
        "y": 940,
        "wires": []
    },
    {
        "id": "314915691f09b38e",
        "type": "ui_text",
        "z": "aceeee78e80836d5",
        "g": "f20b64cccbfa41df",
        "group": "5e857cd369e9dbd2",
        "order": 13,
        "width": 5,
        "height": 1,
        "name": "Operators",
        "label": "",
        "format": "{{msg.payload[6].Operator}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1580,
        "y": 1000,
        "wires": []
    },
    {
        "id": "db63ebc8b60f48a5",
        "type": "ui_text",
        "z": "aceeee78e80836d5",
        "g": "f20b64cccbfa41df",
        "group": "5e857cd369e9dbd2",
        "order": 14,
        "width": 5,
        "height": 1,
        "name": "Operators",
        "label": "",
        "format": "{{msg.payload[7].Operator}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1580,
        "y": 1060,
        "wires": []
    },
    {
        "id": "52d7b6bf29241329",
        "type": "link out",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "name": "link out 11",
        "mode": "link",
        "links": [
            "f16408ea80b8145b",
            "49a9887d5999b34e",
            "e5e4fe78837f2456",
            "34b3467e70660ff4"
        ],
        "x": 2345,
        "y": 1060,
        "wires": []
    },
    {
        "id": "f16408ea80b8145b",
        "type": "link in",
        "z": "aceeee78e80836d5",
        "g": "615a511dfe187b00",
        "name": "link in 8",
        "links": [
            "52d7b6bf29241329",
            "843a618c597a7b74",
            "ccc81ecefc35bd4c",
            "874bbf3193c81ed3"
        ],
        "x": 1755,
        "y": 160,
        "wires": [
            [
                "0f732395ff9aa7a5"
            ]
        ]
    },
    {
        "id": "df5754585f00999d",
        "type": "change",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "name": "Start Job",
        "rules": [
            {
                "t": "set",
                "p": "Job_Start",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "Job_StartTime",
                "pt": "flow",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2240,
        "y": 1060,
        "wires": [
            [
                "7d55d95027649326"
            ]
        ]
    },
    {
        "id": "d8ca346d473f895b",
        "type": "change",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "name": "Stop Job",
        "rules": [
            {
                "t": "set",
                "p": "Job_Start",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "Job_Count",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "Job_Feet",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "Job_Reject",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "Job",
                "pt": "flow",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2260,
        "y": 1180,
        "wires": [
            [
                "ccc81ecefc35bd4c"
            ]
        ]
    },
    {
        "id": "ccc81ecefc35bd4c",
        "type": "link out",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "name": "link out 12",
        "mode": "link",
        "links": [
            "f16408ea80b8145b",
            "22e1ae0230361a23",
            "7b1be2ac06164caf",
            "18fd3c4476b9a3e4"
        ],
        "x": 2365,
        "y": 1180,
        "wires": []
    },
    {
        "id": "22e1ae0230361a23",
        "type": "link in",
        "z": "aceeee78e80836d5",
        "g": "615a511dfe187b00",
        "name": "link in 9",
        "links": [
            "74f21a495d5b802b",
            "ccc81ecefc35bd4c",
            "942dc0b7f76e12b2",
            "d7198898114ebeb4",
            "902925f2affe275a"
        ],
        "x": 1755,
        "y": 280,
        "wires": [
            [
                "9d1364beb87f4ff2"
            ]
        ]
    },
    {
        "id": "7b1be2ac06164caf",
        "type": "link in",
        "z": "aceeee78e80836d5",
        "g": "615a511dfe187b00",
        "name": "link in 10",
        "links": [
            "942dc0b7f76e12b2",
            "ccc81ecefc35bd4c",
            "d26614cb89b83ba0",
            "d7198898114ebeb4",
            "902925f2affe275a"
        ],
        "x": 1755,
        "y": 340,
        "wires": [
            [
                "3ef3fad18aa3e2f1"
            ]
        ]
    },
    {
        "id": "5d12ec3d2b9a8889",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "14be195563a87f42",
        "name": "Count +1",
        "func": "let Job_count = flow.get('Job_Count') || 0;\n\nJob_count = Job_count + 1;\n\nflow.set('Job_Count', Job_count);\n\nmsg.payload = {\n    Job_count : Job_count\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 220,
        "wires": [
            [
                "74f21a495d5b802b"
            ]
        ]
    },
    {
        "id": "cb26b2609dba1090",
        "type": "link in",
        "z": "aceeee78e80836d5",
        "g": "14be195563a87f42",
        "name": "link in 11",
        "links": [
            "519579d4cdc335ce"
        ],
        "x": 925,
        "y": 220,
        "wires": [
            [
                "5d12ec3d2b9a8889"
            ]
        ]
    },
    {
        "id": "6a8c2f1130445add",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "14be195563a87f42",
        "name": "Feet +9.5",
        "func": "let Job_feet = flow.get('Job_Feet') || 0;\n\nJob_feet = Job_feet + 9.5;\n\nflow.set('Job_Feet', Job_feet);\n\nmsg.payload = {\n    Job_feet : Job_feet\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 280,
        "wires": [
            [
                "d26614cb89b83ba0"
            ]
        ]
    },
    {
        "id": "881fe60f2a8433d9",
        "type": "link in",
        "z": "aceeee78e80836d5",
        "g": "14be195563a87f42",
        "name": "link in 12",
        "links": [
            "519579d4cdc335ce"
        ],
        "x": 925,
        "y": 280,
        "wires": [
            [
                "6a8c2f1130445add"
            ]
        ]
    },
    {
        "id": "74f21a495d5b802b",
        "type": "link out",
        "z": "aceeee78e80836d5",
        "g": "14be195563a87f42",
        "name": "link out 13",
        "mode": "link",
        "links": [
            "22e1ae0230361a23"
        ],
        "x": 1155,
        "y": 220,
        "wires": []
    },
    {
        "id": "d26614cb89b83ba0",
        "type": "link out",
        "z": "aceeee78e80836d5",
        "g": "14be195563a87f42",
        "name": "link out 14",
        "mode": "link",
        "links": [
            "7b1be2ac06164caf"
        ],
        "x": 1155,
        "y": 280,
        "wires": []
    },
    {
        "id": "18fd3c4476b9a3e4",
        "type": "link in",
        "z": "aceeee78e80836d5",
        "g": "615a511dfe187b00",
        "name": "link in 13",
        "links": [
            "dc98d9f805011293",
            "2e74345e91a12953",
            "ccc81ecefc35bd4c",
            "902925f2affe275a"
        ],
        "x": 1755,
        "y": 400,
        "wires": [
            [
                "068fb76925d4f127"
            ]
        ]
    },
    {
        "id": "a0d96559f450a763",
        "type": "switch",
        "z": "aceeee78e80836d5",
        "g": "36fab4c511e97295",
        "name": "",
        "property": "Job_Start",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2310,
        "y": 640,
        "wires": [
            [
                "44154ed2596c1030"
            ]
        ]
    },
    {
        "id": "56e784ed6e35bbe6",
        "type": "switch",
        "z": "aceeee78e80836d5",
        "g": "36fab4c511e97295",
        "name": "",
        "property": "Job_Start",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2310,
        "y": 580,
        "wires": [
            [
                "44c2151ae6e09da0"
            ]
        ]
    },
    {
        "id": "5775b61fe2cc1737",
        "type": "switch",
        "z": "aceeee78e80836d5",
        "g": "36fab4c511e97295",
        "name": "",
        "property": "Job_Start",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2310,
        "y": 520,
        "wires": [
            [
                "3fa9d784b7428e82"
            ]
        ]
    },
    {
        "id": "689f3782cea4c094",
        "type": "switch",
        "z": "aceeee78e80836d5",
        "g": "36fab4c511e97295",
        "name": "",
        "property": "Job_Start",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2310,
        "y": 460,
        "wires": [
            [
                "00e0e7d1151be752"
            ]
        ]
    },
    {
        "id": "b5477a7e905776e5",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "a4164891d12ef28d",
        "name": "Performance",
        "func": "// Function to get current time\nfunction getCurrentTime() {\n    const now = new Date();\n    return now.toTimeString().split(' ')[0]; // Format time as HH:MM:SS\n}\n\n// Function to calculate elapsed hours within specific time intervals\nfunction calculateElapsedHours() {\n    const currentTime = getCurrentTime();\n    const [currentHours, currentMinutes, currentSeconds] = currentTime.split(':').map(Number);\n    const currentTotalSeconds = currentHours * 3600 + currentMinutes * 60 + currentSeconds;\n\n    const startMorningSeconds = 8 * 3600; // 08:00:00 in seconds\n    const endMorningSeconds = 12 * 3600 + 30 * 60; // 12:30:00 in seconds\n    const startAfternoonSeconds = 13 * 3600 + 30 * 60; // 13:30:00 in seconds\n    const endDaySeconds = 23 * 3600 + 59 * 60 + 59; // 23:59:59 in seconds\n\n    let elapsedHours = 0;\n\n    if (currentTotalSeconds >= startMorningSeconds && currentTotalSeconds <= endMorningSeconds) {\n        elapsedHours = (currentTotalSeconds - startMorningSeconds) / 3600;\n    } else if (currentTotalSeconds >= startAfternoonSeconds && currentTotalSeconds <= endDaySeconds) {\n        elapsedHours = (currentTotalSeconds - startMorningSeconds - 3600) / 3600; // Subtracting an hour (3600 seconds)\n    }\n\n    return elapsedHours;\n}\n\n// Function to calculate elapsed time from startTime to current time\nfunction calculateElapsedTimeFromStart(startTime) {\n    const currentTime = new Date();\n    const startDateTime = new Date(startTime);\n\n    const startTotalSeconds = startDateTime.getHours() * 3600 + startDateTime.getMinutes() * 60 + startDateTime.getSeconds();\n    const currentTotalSeconds = currentTime.getHours() * 3600 + currentTime.getMinutes() * 60 + currentTime.getSeconds();\n\n    const startMorningSeconds = 8 * 3600; // 08:00:00 in seconds\n    const endMorningSeconds = 12 * 3600 + 30 * 60; // 12:30:00 in seconds\n    const startAfternoonSeconds = 13 * 3600 + 30 * 60; // 13:30:00 in seconds\n    const endDaySeconds = 23 * 3600 + 59 * 60 + 59; // 23:59:59 in seconds\n\n    let elapsedSeconds = 0;\n\n    if (startTotalSeconds >= startMorningSeconds && startTotalSeconds <= endMorningSeconds) {\n        if (currentTotalSeconds <= endMorningSeconds) {\n            elapsedSeconds = currentTotalSeconds - startTotalSeconds;\n        } else {\n            elapsedSeconds = endMorningSeconds - startTotalSeconds + (currentTotalSeconds - startAfternoonSeconds);\n        }\n    } else if (startTotalSeconds >= startAfternoonSeconds && startTotalSeconds <= endDaySeconds) {\n        elapsedSeconds = currentTotalSeconds - startTotalSeconds;\n    }\n\n    const elapsedHours = elapsedSeconds / 3600;\n    return elapsedHours;\n}\n\n// Assuming startTime is retrieved from flow.get('Job_StartTime');\nlet startTime = new Date(flow.get('Job_StartTime'));\n\n// Execute the function and log the results\nconst elapsedHours = calculateElapsedHours();\nconst elapsedTimeFromStart = calculateElapsedTimeFromStart(startTime);\n\nflow.set('Elapsed_Time', elapsedHours);\nflow.set('Elapsed_TimeFromStart', elapsedTimeFromStart);\nlet todayCount = flow.get('Todays_Count');\n\nvar Performance = (todayCount / (elapsedHours * 195)) * 100;\n\nif (isNaN(Performance)) {\n    Performance = 0;\n}\n\nmsg.payload = Performance;\nmsg.payload = msg.payload.toFixed(1);\nflow.set('Performance', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2370,
        "y": 220,
        "wires": [
            [
                "b2d4f29b77453803"
            ]
        ]
    },
    {
        "id": "6903c2a4b5180801",
        "type": "inject",
        "z": "aceeee78e80836d5",
        "g": "a4164891d12ef28d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 2190,
        "y": 220,
        "wires": [
            [
                "b5477a7e905776e5",
                "3a110d1e65ecde77",
                "43cffa8200b6cc04"
            ]
        ]
    },
    {
        "id": "0e77eebfe575c5db",
        "type": "inject",
        "z": "aceeee78e80836d5",
        "g": "a4164891d12ef28d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 2170,
        "y": 160,
        "wires": [
            [
                "d2da8d2c5799eb63"
            ]
        ]
    },
    {
        "id": "3a110d1e65ecde77",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "a4164891d12ef28d",
        "name": "Quality",
        "func": "let currentCount = flow.get('Todays_Count');\nlet rejectCount = flow.get('Todays_Reject');\n\nif (rejectCount == 0 || isNaN(rejectCount)) {\n    Quality = 100;\n} else {\n    var Quality = ((currentCount - rejectCount) / currentCount) * 100\n}\n\nmsg.payload = Quality;\nmsg.payload = msg.payload.toFixed(1);\nflow.set('Quality', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2360,
        "y": 280,
        "wires": [
            [
                "5c81cc7ecfe8b897"
            ]
        ]
    },
    {
        "id": "43cffa8200b6cc04",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "a4164891d12ef28d",
        "name": "OEE",
        "func": "let availability = flow.get('Availability');\nlet performance = flow.get('Performance');\nlet quality = flow.get('Quality');\n\nvar oee = ((availability * performance * quality) / 1000000) * 100;\n\nflow.set('OEE', oee);\n\nmsg.payload = oee;\nmsg.payload = msg.payload.toFixed(1);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2350,
        "y": 340,
        "wires": [
            [
                "8076aab7b5f58732"
            ]
        ]
    },
    {
        "id": "d2da8d2c5799eb63",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "a4164891d12ef28d",
        "name": "Availability",
        "func": "flow.set('Availability', msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2370,
        "y": 160,
        "wires": [
            [
                "dc66490acabb6bb2"
            ]
        ]
    },
    {
        "id": "7c846095fb5fa47d",
        "type": "rpi-gpio in",
        "z": "aceeee78e80836d5",
        "g": "caf885cf173e5aa2",
        "name": "Cut Signal",
        "pin": "17",
        "intype": "up",
        "debounce": "25",
        "read": true,
        "bcm": true,
        "x": 180,
        "y": 240,
        "wires": [
            [
                "fbf576c898a81f0c"
            ]
        ]
    },
    {
        "id": "3824977a8b68a705",
        "type": "switch",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "name": "",
        "property": "Job_Start",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1990,
        "y": 1060,
        "wires": [
            [
                "75f0e08c1847d4a3"
            ]
        ]
    },
    {
        "id": "49a9887d5999b34e",
        "type": "link in",
        "z": "aceeee78e80836d5",
        "g": "29957c5821978ac5",
        "name": "link in 18",
        "links": [
            "52d7b6bf29241329"
        ],
        "x": 135,
        "y": 400,
        "wires": [
            [
                "e7acfd88005381af"
            ]
        ]
    },
    {
        "id": "6b47a540f7f21a6d",
        "type": "change",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Job",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2190,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "baae34847050227a",
        "type": "link in",
        "z": "aceeee78e80836d5",
        "g": "29957c5821978ac5",
        "name": "link in 19",
        "links": [
            "6a46c28c20969119",
            "942dc0b7f76e12b2",
            "d7198898114ebeb4",
            "dc98d9f805011293",
            "2e74345e91a12953"
        ],
        "x": 135,
        "y": 460,
        "wires": [
            [
                "3f5b642ea7566c4b"
            ]
        ]
    },
    {
        "id": "3f5b642ea7566c4b",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "29957c5821978ac5",
        "name": "Job ongoing",
        "func": "var tstamp = Date.now();\nvar machine = 'FJ04';\nvar currentTime = new Date().toLocaleString(\"sv-SE\");\nvar job = flow.get('Job');\nvar todayFeet = flow.get('Todays_Feet');\nvar todayReject = flow.get('Todays_Reject');\nvar duration = flow.get('Elapsed_TimeFromStart');\nvar currentFeet = flow.get('Job_Feet');\nvar currentReject = flow.get('Job_Reject');\n\nmsg.payload =\n{\n    col1: currentTime, //DateTime\n    col2: machine, //Machine\n    col3: job, //Job\n    col4: 'Start', //Status\n    col5: duration, //Duration\n    col6: currentFeet, //CurrentOutput\n    col7: currentReject, //CurrentReject\n    col8: todayFeet, //TodayOutput\n    col9: todayReject, //TodayReject\n}\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 460,
        "wires": [
            [
                "a68d95076eee8c5b"
            ]
        ]
    },
    {
        "id": "a68d95076eee8c5b",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "29957c5821978ac5",
        "name": "Write to fj04_data",
        "func": "var table_name = 'fj04_data';\n\nvar col1 = 'DateTime';\nvar col2 = 'Machine';\nvar col3 = 'Job';\nvar col4 = 'Status';\nvar col5 = 'Duration';\nvar col6 = 'CurrentOutput';\nvar col7 = 'CurrentReject';\nvar col8 = 'TodayOutput';\nvar col9 = 'TodayReject';\n\n\nmsg.topic = \"INSERT INTO \" + table_name + \"(\"\n    + col1 + \",\" + col2 + \",\" + col3 + \",\" + col4 + \",\" + col5 + \",\" + col6 + \",\" + col7 + \",\" + col8 + \",\" + col9 + \")\"\n    + \"VALUES('\"\n    + msg.payload.col1 + \"','\"\n    + msg.payload.col2 + \"','\"\n    + msg.payload.col3 + \"','\"\n    + msg.payload.col4 + \"','\"\n    + msg.payload.col5 + \"','\"\n    + msg.payload.col6 + \"','\"\n    + msg.payload.col7 + \"','\"\n    + msg.payload.col8 + \"','\"\n    + msg.payload.col9 + \"')\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 460,
        "wires": [
            [
                "c9e5c36edbf04498"
            ]
        ]
    },
    {
        "id": "a9388e1745ac7bb3",
        "type": "link in",
        "z": "aceeee78e80836d5",
        "g": "29957c5821978ac5",
        "name": "link in 20",
        "links": [
            "e601b4f2064ab0db"
        ],
        "x": 135,
        "y": 520,
        "wires": [
            [
                "f6dfc05f3baeb6a3"
            ]
        ]
    },
    {
        "id": "f6dfc05f3baeb6a3",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "29957c5821978ac5",
        "name": "Job stopped",
        "func": "var tstamp = Date.now();\nvar machine = 'FJ04';\nvar currentTime = new Date().toLocaleString(\"sv-SE\");\nvar job = flow.get('Job');\nvar todayFeet = flow.get('Todays_Feet');\nvar todayReject = flow.get('Todays_Reject');\nvar duration = flow.get('Elapsed_TimeFromStart');\nvar currentFeet = flow.get('Job_Feet');\nvar currentReject = flow.get('Job_Reject');\n\nmsg.payload =\n{\n    col1: currentTime, //DateTime\n    col2: machine, //Machine\n    col3: job, //Job\n    col4: 'Stop', //Status\n    col5: duration, //Duration\n    col6: currentFeet, //CurrentOutput\n    col7: currentReject, //CurrentReject\n    col8: todayFeet, //TodayOutput\n    col9: todayReject, //TodayReject\n}\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 520,
        "wires": [
            [
                "a618441b3f702c26"
            ]
        ]
    },
    {
        "id": "a618441b3f702c26",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "29957c5821978ac5",
        "name": "Write to fj04_data",
        "func": "var table_name = 'fj04_data';\n\nvar col1 = 'DateTime';\nvar col2 = 'Machine';\nvar col3 = 'Job';\nvar col4 = 'Status';\nvar col5 = 'Duration';\nvar col6 = 'CurrentOutput';\nvar col7 = 'CurrentReject';\nvar col8 = 'TodayOutput';\nvar col9 = 'TodayReject';\n\n\nmsg.topic = \"INSERT INTO \" + table_name + \"(\"\n    + col1 + \",\" + col2 + \",\" + col3 + \",\" + col4 + \",\" + col5 + \",\" + col6 + \",\" + col7 + \",\" + col8 + \",\" + col9 + \")\"\n    + \"VALUES('\"\n    + msg.payload.col1 + \"','\"\n    + msg.payload.col2 + \"','\"\n    + msg.payload.col3 + \"','\"\n    + msg.payload.col4 + \"','\"\n    + msg.payload.col5 + \"','\"\n    + msg.payload.col6 + \"','\"\n    + msg.payload.col7 + \"','\"\n    + msg.payload.col8 + \"','\"\n    + msg.payload.col9 + \"')\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 520,
        "wires": [
            [
                "c9e5c36edbf04498"
            ]
        ]
    },
    {
        "id": "e601b4f2064ab0db",
        "type": "link out",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "name": "link out 19",
        "mode": "link",
        "links": [
            "a9388e1745ac7bb3",
            "0587dde9b1570e87",
            "7ee6a090e2657d20"
        ],
        "x": 2415,
        "y": 1220,
        "wires": []
    },
    {
        "id": "435d8554c0c94ab5",
        "type": "delay",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2120,
        "y": 1180,
        "wires": [
            [
                "d8ca346d473f895b"
            ]
        ]
    },
    {
        "id": "7a9c4d820473962b",
        "type": "switch",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "name": "",
        "property": "Job_Start",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1990,
        "y": 1180,
        "wires": [
            [
                "e601b4f2064ab0db",
                "435d8554c0c94ab5",
                "3735731d105c3b0a"
            ]
        ]
    },
    {
        "id": "75f0e08c1847d4a3",
        "type": "switch",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2110,
        "y": 1060,
        "wires": [
            [
                "52d7b6bf29241329",
                "df5754585f00999d",
                "c5f4553cf4bf9707"
            ]
        ]
    },
    {
        "id": "93ec168ee4340082",
        "type": "ui_text",
        "z": "aceeee78e80836d5",
        "g": "615a511dfe187b00",
        "group": "03e40e6c51e48453",
        "order": 2,
        "width": 8,
        "height": 1,
        "name": "Job Paused",
        "label": "",
        "format": "<font size = 6>  {{msg.payload}} </font>",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#ca3838",
        "x": 1870,
        "y": 220,
        "wires": []
    },
    {
        "id": "a678dac2245b4f65",
        "type": "link in",
        "z": "aceeee78e80836d5",
        "g": "615a511dfe187b00",
        "name": "link in 21",
        "links": [
            "ff3156f85bd3db79",
            "44697291dbe65611",
            "d6abe063d9c97372"
        ],
        "x": 1755,
        "y": 220,
        "wires": [
            [
                "93ec168ee4340082"
            ]
        ]
    },
    {
        "id": "ff3156f85bd3db79",
        "type": "link out",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "name": "link out 20",
        "mode": "link",
        "links": [
            "a678dac2245b4f65",
            "76cbf138f972aea5",
            "add42f15e9e2d212",
            "89713349a097c3b3"
        ],
        "x": 2385,
        "y": 1320,
        "wires": []
    },
    {
        "id": "8176adbaf259486f",
        "type": "switch",
        "z": "aceeee78e80836d5",
        "g": "caf885cf173e5aa2",
        "name": "",
        "property": "Job_Start",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 470,
        "y": 240,
        "wires": [
            [
                "33e27d6c16f4464b"
            ]
        ]
    },
    {
        "id": "e1100c8d126fef40",
        "type": "switch",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "name": "",
        "property": "Job_Start",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2090,
        "y": 1320,
        "wires": [
            [
                "baa7898548e7ccd8",
                "38a04fda0b22b917"
            ]
        ]
    },
    {
        "id": "44697291dbe65611",
        "type": "link out",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "name": "link out 21",
        "mode": "link",
        "links": [
            "a678dac2245b4f65"
        ],
        "x": 2595,
        "y": 1060,
        "wires": []
    },
    {
        "id": "15eed0a124dc5a20",
        "type": "change",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "name": "Remove Job Pause",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2470,
        "y": 1060,
        "wires": [
            [
                "44697291dbe65611"
            ]
        ]
    },
    {
        "id": "76cbf138f972aea5",
        "type": "link in",
        "z": "aceeee78e80836d5",
        "g": "29957c5821978ac5",
        "name": "link in 22",
        "links": [
            "ff3156f85bd3db79"
        ],
        "x": 135,
        "y": 580,
        "wires": [
            [
                "656efaad2579d835"
            ]
        ]
    },
    {
        "id": "656efaad2579d835",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "29957c5821978ac5",
        "name": "Job paused",
        "func": "var tstamp = Date.now();\nvar machine = 'FJ04';\nvar currentTime = new Date().toLocaleString(\"sv-SE\");\nvar job = flow.get('Job');\nvar todayFeet = flow.get('Todays_Feet');\nvar todayReject = flow.get('Todays_Reject');\nvar duration = flow.get('Elapsed_TimeFromStart');\nvar currentFeet = flow.get('Job_Feet');\nvar currentReject = flow.get('Job_Reject');\n\nmsg.payload =\n{\n    col1: currentTime, //DateTime\n    col2: machine, //Machine\n    col3: job, //Job\n    col4: 'Pause', //Status\n    col5: duration, //Duration\n    col6: currentFeet, //CurrentOutput\n    col7: currentReject, //CurrentReject\n    col8: todayFeet, //TodayOutput\n    col9: todayReject, //TodayReject\n}\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 580,
        "wires": [
            [
                "4489a3e3a418fb7b"
            ]
        ]
    },
    {
        "id": "4489a3e3a418fb7b",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "29957c5821978ac5",
        "name": "Write to fj04_data",
        "func": "var table_name = 'fj04_data';\n\nvar col1 = 'DateTime';\nvar col2 = 'Machine';\nvar col3 = 'Job';\nvar col4 = 'Status';\nvar col5 = 'Duration';\nvar col6 = 'CurrentOutput';\nvar col7 = 'CurrentReject';\nvar col8 = 'TodayOutput';\nvar col9 = 'TodayReject';\n\n\nmsg.topic = \"INSERT INTO \" + table_name + \"(\"\n    + col1 + \",\" + col2 + \",\" + col3 + \",\" + col4 + \",\" + col5 + \",\" + col6 + \",\" + col7 + \",\" + col8 + \",\" + col9 + \")\"\n    + \"VALUES('\"\n    + msg.payload.col1 + \"','\"\n    + msg.payload.col2 + \"','\"\n    + msg.payload.col3 + \"','\"\n    + msg.payload.col4 + \"','\"\n    + msg.payload.col5 + \"','\"\n    + msg.payload.col6 + \"','\"\n    + msg.payload.col7 + \"','\"\n    + msg.payload.col8 + \"','\"\n    + msg.payload.col9 + \"')\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 580,
        "wires": [
            [
                "c9e5c36edbf04498"
            ]
        ]
    },
    {
        "id": "c70f49f7f260fef6",
        "type": "HIDdevice",
        "z": "aceeee78e80836d5",
        "g": "3576b6b4d3716c04",
        "connection": "79ac2fd847cfcb51",
        "name": "RFID Scanner",
        "x": 200,
        "y": 700,
        "wires": [
            [
                "67da5b10279bce66"
            ],
            []
        ]
    },
    {
        "id": "67da5b10279bce66",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "3576b6b4d3716c04",
        "name": "Get Value",
        "func": "// Assuming msg.payload is a Buffer\nconst buffer = msg.payload;\n\n// Extract the value at index 3 and convert it to decimal\nconst decimalValue = buffer[3];\n\nmsg.payload = decimalValue;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 700,
        "wires": [
            [
                "90474af636375568"
            ]
        ]
    },
    {
        "id": "90474af636375568",
        "type": "switch",
        "z": "aceeee78e80836d5",
        "g": "3576b6b4d3716c04",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "30",
                "vt": "num",
                "v2": "39",
                "v2t": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 700,
        "wires": [
            [
                "73a5f7a408e6f255"
            ]
        ]
    },
    {
        "id": "73a5f7a408e6f255",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "3576b6b4d3716c04",
        "name": "Map Digit",
        "func": "// Create a mapping object\nconst valueToDigitMap = {\n    30: '1',\n    31: '2',\n    32: '3',\n    33: '4',\n    34: '5',\n    35: '6',\n    36: '7',\n    37: '8',\n    38: '9',\n    39: '0'\n};\n\n// Function to get the digit based on the input value\nfunction getMappedDigit(value) {\n    return valueToDigitMap[value] || null; // Return null if value is not in the map\n}\n\nconst value = msg.payload;\nconst digit = getMappedDigit(value);\n\nmsg.payload = digit;\n\nreturn msg; ",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 760,
        "wires": [
            [
                "ae31a9cf88c7e7dd"
            ]
        ]
    },
    {
        "id": "ae31a9cf88c7e7dd",
        "type": "join",
        "z": "aceeee78e80836d5",
        "g": "3576b6b4d3716c04",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "0.5",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 350,
        "y": 760,
        "wires": [
            [
                "fb358400ed7d379f"
            ]
        ]
    },
    {
        "id": "e794636d6e1a4b6c",
        "type": "mysql",
        "z": "aceeee78e80836d5",
        "g": "3576b6b4d3716c04",
        "mydb": "5a7d665c26ca2a46",
        "name": "",
        "x": 200,
        "y": 820,
        "wires": [
            [
                "223239a71851e09b"
            ]
        ]
    },
    {
        "id": "fca58a40374db349",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "3576b6b4d3716c04",
        "name": "Get Operator Name",
        "func": "let rfid = msg.payload;\nmsg.topic = \"SELECT employee_name FROM `tabEmployee` WHERE rfid = \"+ rfid +\" \";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 760,
        "wires": [
            [
                "e794636d6e1a4b6c"
            ]
        ]
    },
    {
        "id": "5898a0d1a3e33e45",
        "type": "link out",
        "z": "aceeee78e80836d5",
        "g": "3576b6b4d3716c04",
        "name": "link out 22",
        "mode": "link",
        "links": [
            "70a79c8aa1ebfaac",
            "11e9bfadae0e3b4c",
            "42408a70624bd21b",
            "8c0cb23f0b22bb1f",
            "b9821bf52d41f806",
            "3a1d84056a0447b0",
            "e4bd9ae959af562a",
            "59abf8e209fa1a53"
        ],
        "x": 665,
        "y": 980,
        "wires": []
    },
    {
        "id": "70a79c8aa1ebfaac",
        "type": "link in",
        "z": "aceeee78e80836d5",
        "g": "f20b64cccbfa41df",
        "name": "link in 23",
        "links": [
            "5898a0d1a3e33e45"
        ],
        "x": 1465,
        "y": 640,
        "wires": [
            [
                "41dd897f3d6a30ae"
            ]
        ]
    },
    {
        "id": "024aeef0a7580ace",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "3576b6b4d3716c04",
        "name": "Set OUT",
        "func": "var tstamp = Date.now();\nvar machine = 'FJ04';\nvar currentTime = new Date().toLocaleString(\"sv-SE\");\nvar operator = flow.get('Operator');\n\nmsg.payload =\n{\n    col1: currentTime, //DateTime\n    col2: machine, //Machine\n    col3: operator, //Operator\n    col4: 'OUT', //Status\n}\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 880,
        "wires": [
            [
                "12cac82956ec3619"
            ]
        ]
    },
    {
        "id": "223239a71851e09b",
        "type": "change",
        "z": "aceeee78e80836d5",
        "g": "3576b6b4d3716c04",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Operator",
                "pt": "flow",
                "to": "payload[0].employee_name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 820,
        "wires": [
            [
                "9f843372cdadd7c9"
            ]
        ]
    },
    {
        "id": "9f843372cdadd7c9",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "3576b6b4d3716c04",
        "name": "Check Operator Status",
        "func": "var nowDate = new Date();\nvar date = nowDate.getFullYear() + '-' + (nowDate.getMonth() + 1).toLocaleString('en-US',{minimumIntegerDigits:2,useGrouping:false}) + '-' + nowDate.getDate().toLocaleString('en-US',{minimumIntegerDigits:2,useGrouping:false});\nvar operator = flow.get('Operator');\nmsg.topic = \"SELECT Status FROM fj04_operator WHERE Operator = '\"+ operator +\"' AND DateTime LIKE '%\" + date + \"%' ORDER BY DateTime DESC LIMIT 1 \";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 820,
        "wires": [
            [
                "9478998b41798c4c"
            ]
        ]
    },
    {
        "id": "699e095f19e3644b",
        "type": "switch",
        "z": "aceeee78e80836d5",
        "g": "3576b6b4d3716c04",
        "name": "",
        "property": "payload[0].Status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "IN",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OUT",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 880,
        "wires": [
            [
                "024aeef0a7580ace"
            ],
            [
                "659489456a5f8c02"
            ]
        ]
    },
    {
        "id": "659489456a5f8c02",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "3576b6b4d3716c04",
        "name": "Set IN",
        "func": "var tstamp = Date.now();\nvar machine = 'FJ04';\nvar currentTime = new Date().toLocaleString(\"sv-SE\");\nvar operator = flow.get('Operator');\n\nmsg.payload =\n{\n    col1: currentTime, //DateTime\n    col2: machine, //Machine\n    col3: operator, //Operator\n    col4: 'IN', //Status\n}\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 920,
        "wires": [
            [
                "12cac82956ec3619"
            ]
        ]
    },
    {
        "id": "9478998b41798c4c",
        "type": "mysql",
        "z": "aceeee78e80836d5",
        "g": "3576b6b4d3716c04",
        "mydb": "b6645e76de0b64f5",
        "name": "",
        "x": 200,
        "y": 900,
        "wires": [
            [
                "699e095f19e3644b",
                "ce8736ad37637a95"
            ]
        ]
    },
    {
        "id": "832480177c8941ba",
        "type": "mysql",
        "z": "aceeee78e80836d5",
        "g": "3576b6b4d3716c04",
        "mydb": "b6645e76de0b64f5",
        "name": "",
        "x": 200,
        "y": 980,
        "wires": [
            [
                "75dad229c493b0d8"
            ]
        ]
    },
    {
        "id": "12cac82956ec3619",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "3576b6b4d3716c04",
        "name": "Write to fj04_operator",
        "func": "var table_name = 'fj04_operator';\n\nvar col1 = 'DateTime';\nvar col2 = 'Machine';\nvar col3 = 'Operator';\nvar col4 = 'Status';\n\n\nmsg.topic = \"INSERT INTO \" + table_name + \"(\"\n    + col1 + \",\" + col2 + \",\" + col3 + \",\" + col4 + \")\"\n    + \"VALUES('\"\n    + msg.payload.col1 + \"','\"\n    + msg.payload.col2 + \"','\"\n    + msg.payload.col3 + \"','\"\n    + msg.payload.col4 + \"')\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 900,
        "wires": [
            [
                "832480177c8941ba"
            ]
        ]
    },
    {
        "id": "75dad229c493b0d8",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "3576b6b4d3716c04",
        "name": "Show Operator IN",
        "func": "var nowDate = new Date();\nvar date = nowDate.getFullYear() + '-' + (nowDate.getMonth() + 1).toLocaleString('en-US',{minimumIntegerDigits:2,useGrouping:false}) + '-' + nowDate.getDate().toLocaleString('en-US',{minimumIntegerDigits:2,useGrouping:false});\nvar operator = flow.get('Operator');\nmsg.topic = \"SELECT CASE WHEN Operator = '[object Object]' THEN '' ELSE Operator END AS Operator, DateTime FROM fj04_operator WHERE (Operator, DateTime) IN (SELECT Operator, MAX(DateTime) FROM fj04_operator WHERE DATE(DateTime) = CURDATE() GROUP BY Operator) AND Status = 'IN' ORDER BY DateTime DESC\";\n\n\nreturn msg;\n\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 980,
        "wires": [
            [
                "b4ce33bb560f790d"
            ]
        ]
    },
    {
        "id": "b4ce33bb560f790d",
        "type": "mysql",
        "z": "aceeee78e80836d5",
        "g": "3576b6b4d3716c04",
        "mydb": "b6645e76de0b64f5",
        "name": "",
        "x": 560,
        "y": 980,
        "wires": [
            [
                "5898a0d1a3e33e45"
            ]
        ]
    },
    {
        "id": "ce8736ad37637a95",
        "type": "switch",
        "z": "aceeee78e80836d5",
        "g": "3576b6b4d3716c04",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 920,
        "wires": [
            [
                "659489456a5f8c02"
            ]
        ]
    },
    {
        "id": "11e9bfadae0e3b4c",
        "type": "link in",
        "z": "aceeee78e80836d5",
        "g": "f20b64cccbfa41df",
        "name": "link in 24",
        "links": [
            "5898a0d1a3e33e45"
        ],
        "x": 1465,
        "y": 700,
        "wires": [
            [
                "b219930eadd564c3"
            ]
        ]
    },
    {
        "id": "42408a70624bd21b",
        "type": "link in",
        "z": "aceeee78e80836d5",
        "g": "f20b64cccbfa41df",
        "name": "link in 25",
        "links": [
            "5898a0d1a3e33e45"
        ],
        "x": 1465,
        "y": 760,
        "wires": [
            [
                "237b414f6bd112ce"
            ]
        ]
    },
    {
        "id": "8c0cb23f0b22bb1f",
        "type": "link in",
        "z": "aceeee78e80836d5",
        "g": "f20b64cccbfa41df",
        "name": "link in 26",
        "links": [
            "5898a0d1a3e33e45"
        ],
        "x": 1465,
        "y": 820,
        "wires": [
            [
                "f57616afcf0d52b4"
            ]
        ]
    },
    {
        "id": "b9821bf52d41f806",
        "type": "link in",
        "z": "aceeee78e80836d5",
        "g": "f20b64cccbfa41df",
        "name": "link in 27",
        "links": [
            "5898a0d1a3e33e45"
        ],
        "x": 1465,
        "y": 880,
        "wires": [
            [
                "a70c9aa58c7da167"
            ]
        ]
    },
    {
        "id": "3a1d84056a0447b0",
        "type": "link in",
        "z": "aceeee78e80836d5",
        "g": "f20b64cccbfa41df",
        "name": "link in 28",
        "links": [
            "5898a0d1a3e33e45"
        ],
        "x": 1465,
        "y": 940,
        "wires": [
            [
                "88be16095a8822bd"
            ]
        ]
    },
    {
        "id": "e4bd9ae959af562a",
        "type": "link in",
        "z": "aceeee78e80836d5",
        "g": "f20b64cccbfa41df",
        "name": "link in 29",
        "links": [
            "5898a0d1a3e33e45"
        ],
        "x": 1465,
        "y": 1000,
        "wires": [
            [
                "314915691f09b38e"
            ]
        ]
    },
    {
        "id": "59abf8e209fa1a53",
        "type": "link in",
        "z": "aceeee78e80836d5",
        "g": "f20b64cccbfa41df",
        "name": "link in 30",
        "links": [
            "5898a0d1a3e33e45"
        ],
        "x": 1465,
        "y": 1060,
        "wires": [
            [
                "db63ebc8b60f48a5"
            ]
        ]
    },
    {
        "id": "baa7898548e7ccd8",
        "type": "change",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Job_Start",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2250,
        "y": 1320,
        "wires": [
            [
                "ff3156f85bd3db79"
            ]
        ]
    },
    {
        "id": "e7acfd88005381af",
        "type": "switch",
        "z": "aceeee78e80836d5",
        "g": "29957c5821978ac5",
        "name": "",
        "property": "Job_Count",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 400,
        "wires": [
            [
                "469ac8b91bc0f336"
            ],
            [
                "06f60de1a2bbabc1"
            ]
        ]
    },
    {
        "id": "06f60de1a2bbabc1",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "29957c5821978ac5",
        "name": "Job resume",
        "func": "var tstamp = Date.now();\nvar machine = 'FJ04';\nvar currentTime = new Date().toLocaleString(\"sv-SE\");\nvar job = flow.get('Job');\nvar todayFeet = flow.get('Todays_Feet');\nvar todayReject = flow.get('Todays_Reject');\nvar jobFeet = flow.get('Job_Feet');\nvar jobReject = flow.get('Job_Reject');\n\nmsg.payload =\n{\n    col1: currentTime, //DateTime\n    col2: machine, //Machine\n    col3: job, //Job\n    col4: 'Start', //Status\n    col5: 0, //Duration\n    col6: jobFeet, //CurrentOutput\n    col7: jobReject, //CurrentReject\n    col8: todayFeet, //TodayOutput\n    col9: todayReject, //TodayReject\n}\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 400,
        "wires": [
            [
                "e31d4cffac289a97"
            ]
        ]
    },
    {
        "id": "dc66490acabb6bb2",
        "type": "ui_gauge",
        "z": "aceeee78e80836d5",
        "g": "a4164891d12ef28d",
        "name": "Availability",
        "group": "452126cf568bf1d7",
        "order": 1,
        "width": 3,
        "height": 6,
        "gtype": "donut",
        "title": "<font size = 10> A </font>",
        "label": "",
        "format": "{{value}} %",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "50",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 2570,
        "y": 160,
        "wires": []
    },
    {
        "id": "8076aab7b5f58732",
        "type": "ui_gauge",
        "z": "aceeee78e80836d5",
        "g": "a4164891d12ef28d",
        "name": "OEE",
        "group": "452126cf568bf1d7",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "<font size = 10> OEE </font>",
        "label": "",
        "format": "{{value}} %",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "50",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 2550,
        "y": 340,
        "wires": []
    },
    {
        "id": "b2d4f29b77453803",
        "type": "ui_gauge",
        "z": "aceeee78e80836d5",
        "g": "a4164891d12ef28d",
        "name": "Performance",
        "group": "452126cf568bf1d7",
        "order": 2,
        "width": 3,
        "height": 6,
        "gtype": "donut",
        "title": "<font size = 10> P </font>",
        "label": "",
        "format": "{{value}} %",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "50",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 2570,
        "y": 220,
        "wires": []
    },
    {
        "id": "5c81cc7ecfe8b897",
        "type": "ui_gauge",
        "z": "aceeee78e80836d5",
        "g": "a4164891d12ef28d",
        "name": "Quality",
        "group": "452126cf568bf1d7",
        "order": 3,
        "width": 3,
        "height": 6,
        "gtype": "donut",
        "title": "<font size = 10> Q </font>",
        "label": "",
        "format": "{{value}} %",
        "min": 0,
        "max": "100",
        "colors": [
            "#cd3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "50",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 2560,
        "y": 280,
        "wires": []
    },
    {
        "id": "395d8f032aa99366",
        "type": "inject",
        "z": "aceeee78e80836d5",
        "g": "b51dc099cee4fcb4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1390,
        "y": 400,
        "wires": [
            [
                "21596b72f6a9eb9c"
            ]
        ]
    },
    {
        "id": "21596b72f6a9eb9c",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "b51dc099cee4fcb4",
        "name": "Get OEE data",
        "func": "var tstamp = Date.now();\nvar machine = 'FJ04';\nvar currentTime = new Date().toLocaleString(\"sv-SE\");\nvar availability = flow.get('Availability');\nvar performance = flow.get('Performance');\nvar quality = flow.get('Quality');\nvar oee = flow.get('OEE');\n\nmsg.payload =\n{\n    col1: currentTime, //DateTime\n    col2: machine, //Machine\n    col3: availability, //Availability\n    col4: performance, //Performance\n    col5: quality, //Quality\n    col6: oee, //OEE\n}\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1580,
        "y": 400,
        "wires": [
            [
                "26a2b7711df1e686"
            ]
        ]
    },
    {
        "id": "26a2b7711df1e686",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "b51dc099cee4fcb4",
        "name": "Write to fj04_oee",
        "func": "var table_name = 'fj04_oee';\n\nvar col1 = 'DateTime';\nvar col2 = 'Machine';\nvar col3 = 'Availability';\nvar col4 = 'Performance';\nvar col5 = 'Quality';\nvar col6 = 'OEE';\n\n\nmsg.topic = \"INSERT INTO \" + table_name + \"(\"\n    + col1 + \",\" + col2 + \",\" + col3 + \",\" + col4 + \",\" + col5 + \",\" + col6 + \")\"\n    + \"VALUES('\"\n    + msg.payload.col1 + \"','\"\n    + msg.payload.col2 + \"','\"\n    + msg.payload.col3 + \"','\"\n    + msg.payload.col4 + \"','\"\n    + msg.payload.col5 + \"','\"\n    + msg.payload.col6 + \"')\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 480,
        "wires": [
            [
                "10a9f70eec9d8e79"
            ]
        ]
    },
    {
        "id": "10a9f70eec9d8e79",
        "type": "mysql",
        "z": "aceeee78e80836d5",
        "g": "b51dc099cee4fcb4",
        "mydb": "b6645e76de0b64f5",
        "name": "local storage",
        "x": 1590,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "2feacdb677da967c",
        "type": "inject",
        "z": "aceeee78e80836d5",
        "g": "bd503dfba9ae6c25",
        "name": "If Reset",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 1280,
        "wires": [
            [
                "14e65017be05bd2e",
                "51e5f0646bf09d8e",
                "a92fdb2e5d430439"
            ]
        ]
    },
    {
        "id": "14e65017be05bd2e",
        "type": "switch",
        "z": "aceeee78e80836d5",
        "g": "bd503dfba9ae6c25",
        "name": "",
        "property": "Elapsed_TimeFromStart",
        "propertyType": "flow",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "empty"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 330,
        "y": 1200,
        "wires": [
            [
                "a2989c90695fa903"
            ],
            [
                "a2989c90695fa903"
            ],
            [
                "a2989c90695fa903"
            ]
        ]
    },
    {
        "id": "a20188aa3e891dd6",
        "type": "link in",
        "z": "aceeee78e80836d5",
        "g": "3576b6b4d3716c04",
        "name": "link in 31",
        "links": [
            "54819681270fa63e",
            "2122affb36fbb267"
        ],
        "x": 245,
        "y": 1040,
        "wires": [
            [
                "75dad229c493b0d8"
            ]
        ]
    },
    {
        "id": "a2989c90695fa903",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "bd503dfba9ae6c25",
        "name": "Get Output",
        "func": "var nowDate = new Date();\nvar date = nowDate.getFullYear() + '-' + (nowDate.getMonth() + 1).toLocaleString('en-US',{minimumIntegerDigits:2,useGrouping:false}) + '-' + nowDate.getDate().toLocaleString('en-US',{minimumIntegerDigits:2,useGrouping:false});\nmsg.topic = \"SELECT * FROM fj04_data ORDER BY DateTime DESC LIMIT 1 \";\n\nreturn msg;\n// WHERE DateTime LIKE '%\" + date + \"%'",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1200,
        "wires": [
            [
                "69c4ae512af70a36"
            ]
        ]
    },
    {
        "id": "69c4ae512af70a36",
        "type": "mysql",
        "z": "aceeee78e80836d5",
        "g": "bd503dfba9ae6c25",
        "mydb": "b6645e76de0b64f5",
        "name": "",
        "x": 660,
        "y": 1200,
        "wires": [
            [
                "6b65dff3b4ec9539",
                "95ebc5fc93736731"
            ]
        ]
    },
    {
        "id": "1dcbd3a4acf81e77",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "bd503dfba9ae6c25",
        "name": "Start",
        "func": "var startTime = msg.payload[0].DateTime;\nvar job = msg.payload[0].Job;\nvar jobOutput = msg.payload[0].CurrentOutput;\nvar jobReject = msg.payload[0].CurrentReject;\nvar todayOutput = msg.payload[0].TodayOutput;\nvar todayReject = msg.payload[0].TodayReject;\n\nvar jobCount = jobOutput / 9.5;\nvar todayCount = todayOutput / 9.5;\n\n\nflow.set('Job_Start', true);\nflow.set('Job', job);\nflow.set('Job_Count', jobCount);\nflow.set('Job_Feet', jobOutput);\nflow.set('Job_Reject', jobReject);\nflow.set('Todays_Count', todayCount);\nflow.set('Todays_Feet', todayOutput);\nflow.set('Todays_Reject', todayReject);\n\nmsg.payload = {\n    Today_count : todayCount,\n    Today_feet : todayOutput,\n    Today_reject : todayReject,\n    Job_count : jobCount,\n    Job_feet : jobOutput,\n    Job_reject : jobReject\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 1160,
        "wires": [
            [
                "d3924c9ed419df54",
                "902925f2affe275a"
            ]
        ]
    },
    {
        "id": "95ebc5fc93736731",
        "type": "switch",
        "z": "aceeee78e80836d5",
        "g": "bd503dfba9ae6c25",
        "name": "",
        "property": "payload[0].Status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Start",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Pause",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Stop",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 810,
        "y": 1200,
        "wires": [
            [
                "1dcbd3a4acf81e77"
            ],
            [
                "108878d5f02b3e5b"
            ],
            [
                "d6efe506bcdafb10"
            ]
        ]
    },
    {
        "id": "d6efe506bcdafb10",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "bd503dfba9ae6c25",
        "name": "Stop",
        "func": "var startTime = msg.payload[0].DateTime;\nvar todayOutput = msg.payload[0].TodayOutput;\nvar todayReject = msg.payload[0].TodayReject;\n\nvar todayCount = todayOutput / 9.5;\n\n// Extract just the date part of the DateTime string\nvar currentDate = new Date().toISOString().split('T')[0];\nvar startDate = new Date(startTime).toISOString().split('T')[0];\n\n// Initialize the Today's counts and feet based on the date comparison\nif (currentDate !== startDate) {\n    todayCount = 0;\n    todayOutput = 0;\n    todayReject = 0;\n}\n\nflow.set('Job_Start', false);\nflow.set('Job', '');\nflow.set('Job_Count', 0);\nflow.set('Job_Feet', 0);\nflow.set('Job_Reject', 0);\nflow.set('Todays_Count', todayCount);\nflow.set('Todays_Feet', todayOutput);\nflow.set('Todays_Reject', todayReject);\n\nmsg.payload = {\n    Today_count : todayCount,\n    Today_feet : todayOutput,\n    Today_reject : todayReject,\n    Job_count : 0,\n    Job_feet : 0,\n    Job_reject : 0\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 1240,
        "wires": [
            [
                "902925f2affe275a",
                "d3924c9ed419df54"
            ]
        ]
    },
    {
        "id": "51e5f0646bf09d8e",
        "type": "switch",
        "z": "aceeee78e80836d5",
        "g": "bd503dfba9ae6c25",
        "name": "",
        "property": "Elapsed_TimeFromStart",
        "propertyType": "flow",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "empty"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 350,
        "y": 1280,
        "wires": [
            [
                "340438001dc9d408"
            ],
            [
                "340438001dc9d408"
            ],
            [
                "340438001dc9d408"
            ]
        ]
    },
    {
        "id": "340438001dc9d408",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "bd503dfba9ae6c25",
        "name": "Get OEE",
        "func": "var nowDate = new Date();\nvar date = nowDate.getFullYear() + '-' + (nowDate.getMonth() + 1).toLocaleString('en-US',{minimumIntegerDigits:2,useGrouping:false}) + '-' + nowDate.getDate().toLocaleString('en-US',{minimumIntegerDigits:2,useGrouping:false});\nmsg.topic = \"SELECT * FROM fj04_oee WHERE DateTime LIKE '%\" + date + \"%' ORDER BY DateTime DESC LIMIT 1 \";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1280,
        "wires": [
            [
                "ddcf429ec670e2cf"
            ]
        ]
    },
    {
        "id": "ddcf429ec670e2cf",
        "type": "mysql",
        "z": "aceeee78e80836d5",
        "g": "bd503dfba9ae6c25",
        "mydb": "b6645e76de0b64f5",
        "name": "",
        "x": 680,
        "y": 1280,
        "wires": [
            [
                "2ac462c83274fe35"
            ]
        ]
    },
    {
        "id": "2ac462c83274fe35",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "bd503dfba9ae6c25",
        "name": "function 1",
        "func": "var performance = msg.payload[0].Performance;\nvar quality = msg.payload[0].Quality;\nvar oee = msg.payload[0].OEE;\n\nflow.set('Performance', performance);\nflow.set('Quality', quality);\nflow.set('OEE', oee);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "a92fdb2e5d430439",
        "type": "switch",
        "z": "aceeee78e80836d5",
        "g": "bd503dfba9ae6c25",
        "name": "",
        "property": "Elapsed_TimeFromStart",
        "propertyType": "flow",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "empty"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 350,
        "y": 1360,
        "wires": [
            [
                "b324e66159c24df9"
            ],
            [
                "b324e66159c24df9"
            ],
            [
                "b324e66159c24df9"
            ]
        ]
    },
    {
        "id": "b324e66159c24df9",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "bd503dfba9ae6c25",
        "name": "Get Time",
        "func": "var nowDate = new Date();\nvar date = nowDate.getFullYear() + '-' + (nowDate.getMonth() + 1).toLocaleString('en-US',{minimumIntegerDigits:2,useGrouping:false}) + '-' + nowDate.getDate().toLocaleString('en-US',{minimumIntegerDigits:2,useGrouping:false});\nmsg.topic = \"SELECT * FROM fj04_data WHERE CurrentOutput = 0 ORDER BY DateTime DESC LIMIT 1 \";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1360,
        "wires": [
            [
                "6e20993da28e6637"
            ]
        ]
    },
    {
        "id": "6e20993da28e6637",
        "type": "mysql",
        "z": "aceeee78e80836d5",
        "g": "bd503dfba9ae6c25",
        "mydb": "b6645e76de0b64f5",
        "name": "",
        "x": 660,
        "y": 1360,
        "wires": [
            [
                "f54117bc11666da0"
            ]
        ]
    },
    {
        "id": "f54117bc11666da0",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "bd503dfba9ae6c25",
        "name": "function 2",
        "func": "var startTime = msg.payload[0].DateTime;\n\nflow.set('Job_StartTime', startTime);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1360,
        "wires": [
            [
                "54819681270fa63e"
            ]
        ]
    },
    {
        "id": "54819681270fa63e",
        "type": "link out",
        "z": "aceeee78e80836d5",
        "g": "bd503dfba9ae6c25",
        "name": "link out 23",
        "mode": "link",
        "links": [
            "a20188aa3e891dd6"
        ],
        "x": 945,
        "y": 1360,
        "wires": []
    },
    {
        "id": "902925f2affe275a",
        "type": "link out",
        "z": "aceeee78e80836d5",
        "g": "bd503dfba9ae6c25",
        "name": "link out 24",
        "mode": "link",
        "links": [
            "22e1ae0230361a23",
            "7b1be2ac06164caf",
            "18fd3c4476b9a3e4",
            "dc9d0cdd30b6fb89",
            "5d157ea06b6662b6",
            "4a70fea76969ca4a"
        ],
        "x": 1315,
        "y": 1200,
        "wires": []
    },
    {
        "id": "d3924c9ed419df54",
        "type": "change",
        "z": "aceeee78e80836d5",
        "g": "bd503dfba9ae6c25",
        "name": "Set Display",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Job",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 1240,
        "wires": [
            [
                "874bbf3193c81ed3"
            ]
        ]
    },
    {
        "id": "874bbf3193c81ed3",
        "type": "link out",
        "z": "aceeee78e80836d5",
        "g": "bd503dfba9ae6c25",
        "name": "link out 25",
        "mode": "link",
        "links": [
            "f16408ea80b8145b"
        ],
        "x": 1315,
        "y": 1240,
        "wires": []
    },
    {
        "id": "108878d5f02b3e5b",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "bd503dfba9ae6c25",
        "name": "Pause",
        "func": "var startTime = msg.payload[0].DateTime;\nvar job = msg.payload[0].Job;\nvar jobOutput = msg.payload[0].CurrentOutput;\nvar jobReject = msg.payload[0].CurrentReject;\nvar todayOutput = msg.payload[0].TodayOutput;\nvar todayReject = msg.payload[0].TodayReject;\n\nvar jobCount = jobOutput / 9.5;\nvar todayCount = todayOutput / 9.5;\n\n// Extract just the date part of the DateTime string\nvar currentDate = new Date().toISOString().split('T')[0];\nvar startDate = new Date(startTime).toISOString().split('T')[0];\n\n// Initialize the Today's counts and feet based on the date comparison\nif (currentDate !== startDate) {\n    todayCount = 0;\n    todayOutput = 0;\n    todayReject = 0;\n}\n\nflow.set('Job_Start', false);\nflow.set('Job', job);\nflow.set('Job_Count', jobCount);\nflow.set('Job_Feet', jobOutput);\nflow.set('Job_Reject', jobReject);\nflow.set('Todays_Count', todayCount);\nflow.set('Todays_Feet', todayOutput);\nflow.set('Todays_Reject', todayReject);\n\nmsg.payload = {\n    Today_count : todayCount,\n    Today_feet : todayOutput,\n    Today_reject : todayReject,\n    Job_count : jobCount,\n    Job_feet : jobOutput,\n    Job_reject : jobReject\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 1200,
        "wires": [
            [
                "2278e7478fd39746",
                "902925f2affe275a",
                "d3924c9ed419df54"
            ]
        ]
    },
    {
        "id": "d6abe063d9c97372",
        "type": "link out",
        "z": "aceeee78e80836d5",
        "g": "bd503dfba9ae6c25",
        "name": "link out 26",
        "mode": "link",
        "links": [
            "a678dac2245b4f65"
        ],
        "x": 1315,
        "y": 1160,
        "wires": []
    },
    {
        "id": "2278e7478fd39746",
        "type": "change",
        "z": "aceeee78e80836d5",
        "g": "bd503dfba9ae6c25",
        "name": "Set Job Pause",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Job Paused",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 1160,
        "wires": [
            [
                "d6abe063d9c97372"
            ]
        ]
    },
    {
        "id": "e650c7581da77728",
        "type": "link in",
        "z": "aceeee78e80836d5",
        "g": "b51dc099cee4fcb4",
        "name": "link in 32",
        "links": [
            "feb459137d5a429d"
        ],
        "x": 1475,
        "y": 360,
        "wires": [
            [
                "21596b72f6a9eb9c"
            ]
        ]
    },
    {
        "id": "2122affb36fbb267",
        "type": "link out",
        "z": "aceeee78e80836d5",
        "name": "link out 27",
        "mode": "link",
        "links": [
            "a20188aa3e891dd6"
        ],
        "x": 445,
        "y": 120,
        "wires": []
    },
    {
        "id": "c5f4553cf4bf9707",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "name": "Job Ongoing",
        "func": "var newMsg = {};\nnewMsg.headers = { \"Authorization\": \"Token 8df92fdb0c01d52:65dc2d0b06f32fa\", \"Content-Type\": \"application/json\" };\nnewMsg.url = 'http://192.168.0.17/api/resource/FJ Kanban/' + msg.payload;\n\nnewMsg.payload = { \"status\": 'Ongoing' };\nnode.send(newMsg);\n\n// Return null or undefined if needed\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2250,
        "y": 1120,
        "wires": [
            [
                "9b4dc70713edc975"
            ]
        ]
    },
    {
        "id": "9b4dc70713edc975",
        "type": "http request",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "name": "Set Job Ongoing",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2450,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "38a04fda0b22b917",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "name": "Job Paused",
        "func": "var job = flow.get('Job');\n\nvar newMsg = {};\nnewMsg.headers = { \"Authorization\": \"Token 8df92fdb0c01d52:65dc2d0b06f32fa\", \"Content-Type\": \"application/json\" };\nnewMsg.url = 'http://192.168.0.17/api/resource/FJ Kanban/' + job;\n\nnewMsg.payload = { \"status\": 'Paused' };\nnode.send(newMsg);\n\n// Return null or undefined if needed\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2230,
        "y": 1380,
        "wires": [
            [
                "a3c5be9c613304a8"
            ]
        ]
    },
    {
        "id": "a3c5be9c613304a8",
        "type": "http request",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "name": "Set Job Pause",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2420,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "3735731d105c3b0a",
        "type": "function",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "name": "Job Finished",
        "func": "var job = flow.get('Job');\n\nvar newMsg = {};\nnewMsg.headers = { \"Authorization\": \"Token 8df92fdb0c01d52:65dc2d0b06f32fa\", \"Content-Type\": \"application/json\" };\nnewMsg.url = 'http://192.168.0.17/api/resource/FJ Kanban/' + job;\n\nnewMsg.payload = { \"status\": 'Finished' };\nnode.send(newMsg);\n\n// Return null or undefined if needed\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2130,
        "y": 1260,
        "wires": [
            [
                "71b77e17724fad13"
            ]
        ]
    },
    {
        "id": "71b77e17724fad13",
        "type": "http request",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "name": "Set Job Finished",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2330,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "dd1f0ea2ef26db84",
        "type": "inject",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "name": "Pause (Off)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 18 * * *",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1830,
        "y": 1320,
        "wires": [
            [
                "25df665065b989d6"
            ]
        ]
    },
    {
        "id": "6b65dff3b4ec9539",
        "type": "link out",
        "z": "aceeee78e80836d5",
        "g": "bd503dfba9ae6c25",
        "name": "link out 28",
        "mode": "link",
        "links": [
            "34b3467e70660ff4",
            "89713349a097c3b3"
        ],
        "x": 1055,
        "y": 1300,
        "wires": []
    },
    {
        "id": "8ba0271476786617",
        "type": "switch",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "name": "",
        "property": "Job_Start",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2030,
        "y": 880,
        "wires": [
            [
                "6b47a540f7f21a6d"
            ]
        ]
    },
    {
        "id": "15d9f447b49a0f00",
        "type": "inject",
        "z": "aceeee78e80836d5",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 470,
        "y": 60,
        "wires": [
            [
                "2122affb36fbb267"
            ]
        ]
    },
    {
        "id": "fb358400ed7d379f",
        "type": "delay",
        "z": "aceeee78e80836d5",
        "g": "3576b6b4d3716c04",
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 500,
        "y": 760,
        "wires": [
            [
                "fca58a40374db349"
            ]
        ]
    },
    {
        "id": "33e27d6c16f4464b",
        "type": "delay",
        "z": "aceeee78e80836d5",
        "g": "caf885cf173e5aa2",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 640,
        "y": 240,
        "wires": [
            [
                "519579d4cdc335ce"
            ]
        ]
    },
    {
        "id": "bb3a649f785ba507",
        "type": "ui_text_input",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "name": "Job scan",
        "label": "",
        "tooltip": "",
        "group": "5e857cd369e9dbd2",
        "order": 19,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 1880,
        "y": 940,
        "wires": [
            [
                "5d2d9854f7cb153e"
            ]
        ]
    },
    {
        "id": "bea65ccc72fb7226",
        "type": "link out",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "name": "link out 30",
        "mode": "link",
        "links": [
            "4efd290fbccf4239"
        ],
        "x": 2155,
        "y": 1000,
        "wires": []
    },
    {
        "id": "4efd290fbccf4239",
        "type": "link in",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "name": "link in 36",
        "links": [
            "bea65ccc72fb7226"
        ],
        "x": 1765,
        "y": 940,
        "wires": [
            [
                "bb3a649f785ba507"
            ]
        ]
    },
    {
        "id": "373b8496f1d06d7b",
        "type": "ui_button",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "name": "Clear",
        "group": "5e857cd369e9dbd2",
        "order": 21,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "CLEAR",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 1000,
        "wires": [
            [
                "7d55d95027649326"
            ]
        ]
    },
    {
        "id": "5d2d9854f7cb153e",
        "type": "delay",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 2040,
        "y": 940,
        "wires": [
            [
                "8ba0271476786617"
            ]
        ]
    },
    {
        "id": "7d55d95027649326",
        "type": "change",
        "z": "aceeee78e80836d5",
        "g": "8b78f2ee7ddf9572",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2040,
        "y": 1000,
        "wires": [
            [
                "bea65ccc72fb7226"
            ]
        ]
    },
    {
        "id": "32a719d7b7c4542a",
        "type": "mysql",
        "z": "584257042a2c642d",
        "mydb": "b6645e76de0b64f5",
        "name": "",
        "x": 600,
        "y": 140,
        "wires": [
            [
                "30a7faae9be2ba54"
            ]
        ]
    },
    {
        "id": "ad7f201f8d529984",
        "type": "function",
        "z": "584257042a2c642d",
        "name": "Get Start",
        "func": "// var nowDate = new Date();\n// var date = nowDate.getFullYear() + '-' + (nowDate.getMonth() + 1).toLocaleString('en-US',{minimumIntegerDigits:2,useGrouping:false}) + '-' + nowDate.getDate().toLocaleString('en-US',{minimumIntegerDigits:2,useGrouping:false});\nmsg.topic = \"SELECT * FROM fj04_data WHERE Status = 'Start' AND CurrentOutput = 0 ORDER BY DateTime DESC LIMIT 1 \";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 140,
        "wires": [
            [
                "32a719d7b7c4542a"
            ]
        ]
    },
    {
        "id": "30a7faae9be2ba54",
        "type": "change",
        "z": "584257042a2c642d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Job",
                "pt": "flow",
                "to": "payload[0].Job",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "StartTime",
                "pt": "flow",
                "to": "payload[0].DateTime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 140,
        "wires": [
            [
                "74cb55a49fe9eac2"
            ]
        ]
    },
    {
        "id": "a0d2c72386730e30",
        "type": "function",
        "z": "584257042a2c642d",
        "name": "Get Pause",
        "func": "// var nowDate = new Date();\n// var date = nowDate.getFullYear() + '-' + (nowDate.getMonth() + 1).toLocaleString('en-US',{minimumIntegerDigits:2,useGrouping:false}) + '-' + nowDate.getDate().toLocaleString('en-US',{minimumIntegerDigits:2,useGrouping:false});\n\nmsg.topic = \"SELECT * FROM fj04_data WHERE Status = 'Pause' ORDER BY DateTime DESC LIMIT 1 \";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 240,
        "wires": [
            [
                "27e3ca76aabdddd1"
            ]
        ]
    },
    {
        "id": "27e3ca76aabdddd1",
        "type": "mysql",
        "z": "584257042a2c642d",
        "mydb": "b6645e76de0b64f5",
        "name": "",
        "x": 600,
        "y": 240,
        "wires": [
            [
                "640c049726253d1c"
            ]
        ]
    },
    {
        "id": "640c049726253d1c",
        "type": "change",
        "z": "584257042a2c642d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "PauseTime",
                "pt": "flow",
                "to": "payload[0].DateTime",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "PauseDuration",
                "pt": "flow",
                "to": "payload[0].Duration",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "8d0c69e7136d1864",
        "type": "function",
        "z": "584257042a2c642d",
        "name": "Get Stop",
        "func": "var nowDate = new Date();\nvar date = nowDate.getFullYear() + '-' + (nowDate.getMonth() + 1).toLocaleString('en-US',{minimumIntegerDigits:2,useGrouping:false}) + '-' + nowDate.getDate().toLocaleString('en-US',{minimumIntegerDigits:2,useGrouping:false});\nmsg.topic = \"SELECT * FROM fj04_data WHERE Status = 'Stop' AND DateTime LIKE '%\" + date + \"%' ORDER BY DateTime DESC LIMIT 1 \";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 340,
        "wires": [
            [
                "9eec70ada41319dc"
            ]
        ]
    },
    {
        "id": "9eec70ada41319dc",
        "type": "mysql",
        "z": "584257042a2c642d",
        "mydb": "b6645e76de0b64f5",
        "name": "",
        "x": 600,
        "y": 340,
        "wires": [
            [
                "eff17ecce47a1f4d"
            ]
        ]
    },
    {
        "id": "eff17ecce47a1f4d",
        "type": "change",
        "z": "584257042a2c642d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "StopTime",
                "pt": "flow",
                "to": "payload[0].DateTime",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "JobOutput",
                "pt": "flow",
                "to": "payload[0].CurrentOutput",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "JobReject",
                "pt": "flow",
                "to": "payload[0].CurrentReject",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "StopDuration",
                "pt": "flow",
                "to": "payload[0].Duration",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 340,
        "wires": [
            [
                "bcf6363043695ad3"
            ]
        ]
    },
    {
        "id": "bcf6363043695ad3",
        "type": "function",
        "z": "584257042a2c642d",
        "name": "Job Finished",
        "func": "var job = flow.get('Job');\nvar startTime = flow.get('StartTime');\nvar pauseTime = flow.get('PauseTime');\nvar pauseDuration = flow.get('PauseDuration');\nvar stopTime = flow.get('StopTime');\nvar stopDuration = flow.get('StopDuration');\nvar jobOutput = flow.get('JobOutput');\nvar jobReject = flow.get('JobReject');\n\nvar jobRejectFeet = jobReject * 9.5;\n\nvar size = flow.get('Size');\nvar species = flow.get('Species');\nvar volume = flow.get('Volume');\nvar mcID = flow.get('McID');\nvar trolley = flow.get('Trolley');\n\n// Check if the volume is defined\nif (volume) {\n    // Split the volume into individual dimensions and clean up the backticks and spaces\n    let dimensions = volume.split('x').map(d => parseFloat(d.trim().replace('`', '')));\n\n    if (dimensions.length === 3) {\n        // Calculate the tonnage\n        let tonnage = (dimensions[0] * dimensions[1] * dimensions[2]) / 7200;\n        \n        // Set the tonnage back into the flow context\n        flow.set('Tonnage', tonnage);\n    }\n}\n\nvar tonnage = flow.get('Tonnage');\n\n// Function to format date as 'YYYY-MM-DD HH:MM:SS'\nfunction formatDate(date) {\n    let year = date.getFullYear();\n    let month = ('0' + (date.getMonth() + 1)).slice(-2);\n    let day = ('0' + date.getDate()).slice(-2);\n    let hours = ('0' + date.getHours()).slice(-2);\n    let minutes = ('0' + date.getMinutes()).slice(-2);\n    let seconds = ('0' + date.getSeconds()).slice(-2);\n    return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;\n}\n\n// Check if date is valid before formatting\nfunction isValidDate(d) {\n    return d instanceof Date && !isNaN(d);\n}\n\nlet startDate = isValidDate(new Date(startTime)) ? formatDate(new Date(startTime)) : '';\nlet pauseDate = isValidDate(new Date(pauseTime)) ? formatDate(new Date(pauseTime)) : '';\nlet stopDate = isValidDate(new Date(stopTime)) ? formatDate(new Date(stopTime)) : '';\n\nif (pauseDate === '' || pauseDate < startDate) {\n    pauseDate = '';\n    pauseDuration = 0;\n}\n\nvar jobDuration = pauseDuration + stopDuration;\n\nvar newMsg = {};\nnewMsg.headers = { \"Authorization\": \"Token 8df92fdb0c01d52:65dc2d0b06f32fa\", \"Content-Type\": \"application/json\" };\nnewMsg.url = 'http://192.168.0.17/api/resource/FJ Job List';\n\nnewMsg.payload = { \n    \"job\": job,\n    \"start_time\": startDate,\n    \"paused_time\": pauseDate,\n    \"stop_time\": stopDate,\n    \"output\": jobOutput,\n    \"reject\": jobRejectFeet,\n    \"size\": size,\n    \"species\": species,\n    \"volume\": volume,\n    \"mc_id\": mcID,\n    \"trolley\": trolley,\n    \"job_duration\": jobDuration,\n    \"machine\": 'FJ04',\n    \"tonnage\": tonnage,\n     };\n\n\nnode.send(newMsg);\n\n// Return null or undefined if needed\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 340,
        "wires": [
            [
                "89dab31931edabaa"
            ]
        ]
    },
    {
        "id": "89dab31931edabaa",
        "type": "http request",
        "z": "584257042a2c642d",
        "name": "Insert Finished Job",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1210,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "74cb55a49fe9eac2",
        "type": "function",
        "z": "584257042a2c642d",
        "name": "function 3",
        "func": "var job = flow.get('Job');\n\nmsg.topic = \"SELECT * FROM `tabFJ Kanban` WHERE name = \"+ job +\" \";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 140,
        "wires": [
            [
                "0b3daf1be10f7af8"
            ]
        ]
    },
    {
        "id": "0b3daf1be10f7af8",
        "type": "mysql",
        "z": "584257042a2c642d",
        "mydb": "5a7d665c26ca2a46",
        "name": "",
        "x": 1160,
        "y": 140,
        "wires": [
            [
                "a1eea76fc73577db"
            ]
        ]
    },
    {
        "id": "a1eea76fc73577db",
        "type": "change",
        "z": "584257042a2c642d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Size",
                "pt": "flow",
                "to": "payload[0].size",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "Species",
                "pt": "flow",
                "to": "payload[0].species",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "Volume",
                "pt": "flow",
                "to": "payload[0].volume",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "McID",
                "pt": "flow",
                "to": "payload[0].mc_id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "Trolley",
                "pt": "flow",
                "to": "payload[0].trolley",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340,
        "y": 140,
        "wires": [
            [
                "6ba38364ef3f103a"
            ]
        ]
    },
    {
        "id": "34b3467e70660ff4",
        "type": "link in",
        "z": "584257042a2c642d",
        "name": "link in 33",
        "links": [
            "88427119f2760190",
            "52d7b6bf29241329",
            "6b65dff3b4ec9539",
            "ecec64c7f320617d"
        ],
        "x": 105,
        "y": 140,
        "wires": [
            [
                "99c16e7b431100e4"
            ]
        ]
    },
    {
        "id": "89713349a097c3b3",
        "type": "link in",
        "z": "584257042a2c642d",
        "name": "link in 34",
        "links": [
            "6b65dff3b4ec9539",
            "ff3156f85bd3db79",
            "ecec64c7f320617d"
        ],
        "x": 105,
        "y": 240,
        "wires": [
            [
                "0d6cfe5d34f29ff0"
            ]
        ]
    },
    {
        "id": "7ee6a090e2657d20",
        "type": "link in",
        "z": "584257042a2c642d",
        "name": "link in 35",
        "links": [
            "e601b4f2064ab0db"
        ],
        "x": 95,
        "y": 340,
        "wires": [
            [
                "36277c50797e89f0"
            ]
        ]
    },
    {
        "id": "99c16e7b431100e4",
        "type": "delay",
        "z": "584257042a2c642d",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 220,
        "y": 140,
        "wires": [
            [
                "ad7f201f8d529984"
            ]
        ]
    },
    {
        "id": "0d6cfe5d34f29ff0",
        "type": "delay",
        "z": "584257042a2c642d",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 220,
        "y": 240,
        "wires": [
            [
                "a0d2c72386730e30"
            ]
        ]
    },
    {
        "id": "36277c50797e89f0",
        "type": "delay",
        "z": "584257042a2c642d",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 220,
        "y": 340,
        "wires": [
            [
                "8d0c69e7136d1864"
            ]
        ]
    },
    {
        "id": "dea27c93fdd6f561",
        "type": "inject",
        "z": "584257042a2c642d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 460,
        "wires": [
            [
                "7f73d2d10ada6dfa"
            ]
        ]
    },
    {
        "id": "7f73d2d10ada6dfa",
        "type": "switch",
        "z": "584257042a2c642d",
        "name": "",
        "property": "PauseDuration",
        "propertyType": "flow",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "empty"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 330,
        "y": 460,
        "wires": [
            [
                "ecec64c7f320617d"
            ],
            [
                "ecec64c7f320617d"
            ],
            [
                "ecec64c7f320617d"
            ]
        ]
    },
    {
        "id": "ecec64c7f320617d",
        "type": "link out",
        "z": "584257042a2c642d",
        "name": "link out 29",
        "mode": "link",
        "links": [
            "34b3467e70660ff4",
            "89713349a097c3b3"
        ],
        "x": 485,
        "y": 460,
        "wires": []
    },
    {
        "id": "6ba38364ef3f103a",
        "type": "function",
        "z": "584257042a2c642d",
        "name": "function 4",
        "func": "var trolley = flow.get('Trolley').trim();\n\nflow.set('Trolley', trolley);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 140,
        "wires": [
            []
        ]
    }
]